/livesite_customer.iml
/.idea/
/Hukoomi/target/
/Hukoomi/target-livesite/
/Hukoomi/target-teamsite/
**/*.iml
**.DS_Store

#Files from eclipse
/.project

Hukoomi/.project
Hukoomi/.settings/

Resources/.project
Resources/.settings/

livesite-core/.checkstyle
livesite-core/.classpath
teamsite-core/.project
livesite-core/.settings/


teamsite-core/.checkstyle
teamsite-core/.classpath
teamsite-core/.project
teamsite-core/.settings/


ContactService/.classpath
ContactService/.project
ContactService/.settings/
ContactService/target/classes/
ContactService/target/test-classes/



contact-center/.classpath
contact-center/.project
contact-center/backend/.classpath
contact-center/backend/.project
contact-center/__MACOSX/
contact-center/backend/mvnw*
contact-center/backend/my-data.iml
contact-center/backend/.settings/
contact-center/backend/.mvn/
contact-center/backend/.idea/
contact-center/backend/logs/
contact-center/backend/out/
contact-center/backend/target/classes/
contact-center/backend/target/test-classes/
