
header .innner_wrapper .nav_col .header_row .auth_nav {
    width: 100%;
}
header .innner_wrapper .nav_col .header_row .auth_nav ul li {
  
    border: solid 1px var(--border-color);
}
.mainhead {
display: inline;
    font-size: 36px!important;  
    font-weight: 700;
    font-size: 28px;
    line-height: 1.07;
    color: var(--black);
    position: relative;
    padding-left: 25px;
    margin: 0 0 28px 0;
	}
   
a#lang_toggle {
    float: right;
	padding-right: 10px;
}
.auth_nav {
    padding-top: 40px;
	}
.ar a#lang_toggle{
	float:left;
	 padding-left: 10px;
	}
.ar .mainhead {
    float: right;
   padding-right: 25px;
}
img.head_logo {
    width: 180px;
}
	
	
.custom_container {
  
margin-left: 16%;
}
.ar .custom_container {
  
margin-right: 16%;
margin-left: 0px;
}
.category_heading::before {
    width: 20px;
    height: 17px;
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    background: url(../images/bullet_pink.png) center no-repeat;
    background-size: contain;
}
.ar .category_heading::before {
	width: 20px;
    height: 17px;
    content: '';
    position: absolute;
    left: 0;
    top: 6px;  
    background: url(../images/bullet_pink.png) center no-repeat;
	background-size: contain;
}