// @mixin border-radius($radius) {
// 	border-radius: $radius;
// 	-webkit-border-radius: $radius;
// 	-moz-border-radius: $radius;
// }

// @mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
//     -webkit-transition: $what $time $how;
//     -moz-transition:    $what $time $how;
//     -ms-transition:     $what $time $how;
//     -o-transition:      $what $time $how;
//     transition:         $what $time $how;
// }



// @mixin box-shadow($top, $left, $blur, $color, $inset: false) {
//     -webkit-box-shadow: $top $left $blur $color  #{$inset};
//     -moz-box-shadow:    $top $left $blur $color  #{$inset}; 
//     -ms-box-shadow:     $top $left $blur $color  #{$inset};
//     -o-box-shadow:     $top $left $blur $color  #{$inset};
//     box-shadow:        $top $left $blur $color  #{$inset};
// }


@mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;  
}



%basic_transition {
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
     transition: all ease .2s;
}