
/* 1. Reset***************************************************************/

* {
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
    word-break: break-word;
}

html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
fieldset
{
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    font-size: 100%;
}

a,
img a {
    text-decoration: none;
    border: 0;
    outline: 0 !important;
    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}
figure{
    margin: 0;
    padding: 0;
}
a,
button,
input {
    transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
}

//  :focus {
//     outline: 0px;
// }

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

ol,
ul,
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img,button{
    user-select: none;
    -webkit-user-drag: auto;
}
button{
    cursor: pointer;
}
a,img{
    -webkit-tap-highlight-color: transparent;
-moz-tap-highlight-color: transparent;

}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover,a:active,a:focus{
    text-decoration: none !important;
}
/* 2. Clearing Floats***************************************************************/

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}


.full-height, body, html {
    height: 100%;
    // font-family: 'Montserrat', sans-serif;
    // padding-right: 0 !important
}



.scroll-hide{
    overflow: hidden;
}


/***********************Align************************************/
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
/***********************Align************************************/



.hidden_scroll{
    overflow: hidden;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}



.m-t-30 {
    margin-top: 30px !important;
}
.m-t-50{
    margin-top: 50px;
}


.p-30{
    padding: 30px;
}

/************************Loader*********************************/

.loader {
    position: fixed;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #0000006e;
     z-index: 9999;
    left:0;
    right:0;
    text-align:center;
     img {
         width: 170px;
     }
 }

body{
    &.loader_show {
        overflow: hidden;
        .loader {
            display: flex; 
        }
    }
}


/************************Loader Close*********************************/
