@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

$rouge:#b51647;
$white: #ffffff;
$whithe-600: #dedede;
$black: #000000;
$black-200: #2a2a2a;
$warm-grey:#8a8a8a;
$dark-blue:#008099;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
    font-size: 14px;
    line-height: 1.4;
}
.form_outer {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form_field{
    position: relative;
}
.form_container{
    max-width: 800px;
    margin: 50px auto;
}
.form_heading{
    font-weight:700;
    font-size: 28px;
    color: var(--black);
}

// Mixins
@mixin placeholder-color ($color, $focus) {
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $color;

        &:focus {
            &::-webkit-input-placeholder {
                /* WebKit, Blink, Edge */
                color: $focus;
            }
        }
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;

        &:focus {
            &:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: $focus;
                opacity: 1;
            }
        }
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;

        &:focus {
            &::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: $focus;
                opacity: 1;
            }
        }
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;

        &:focus {
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $focus;
            }
        }
    }
}

form {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    fieldset {
        padding: 20px;
    }
.hint-block{
    font-style: italic;
    font-size: 12px;
    color: rgba(17, 17, 17, 0.52);
}
  
}
.form-control {
    position: relative;
    font-size: 14px;
    color: $warm-grey;
    font-weight: 600;
    line-height: 20px;
    max-width: 570px;
    // width: 100%;
    height: 46px;
    border: solid 1px $whithe-600;
    background-color: $white;
    padding: 12px 18px;
    border-radius: 12px;
    display: block;
    @include placeholder-color(rgba($warm-grey, $alpha: 1), rgba($warm-grey, $alpha: 1));
    &:focus{
        box-shadow: none;
        outline: none;
        border: solid 1px $dark-blue;
    }
    & + .input-group-btn{
        .form-control{
            border-radius: 0 12px 12px 0;
        }
        
    }
    & + .btn{
        margin-bottom: 0 !important;
    }
    &.is_error{
        border: 1px solid red;
    }
}
    // margin-bottom: 40px;
    label{
       font-weight:600;
        font-size: 18px;
        line-height: 1.94;
        color: var(--black-two);
        margin-bottom: 30px;
    }

    textarea {
        border-radius: 12px;
        border: solid 1px var(--white-six);
        resize: none;
        min-height: 120px;
        font-size: 14px;
       font-weight:600;
        line-height: 1.57;
        color: var(--warm-grey);
        max-width: 570px;
        width: 100%;
        padding: 11px 18px;
        &.is_error{
            border: 1px solid red !important;
        }
    }
 .not_valid{
     color: red;
     font-size: 14px;
 }

    textarea {
        min-height: 100px;
        resize: none;
    }

    .bootstrap-select {
        padding: 0;
        width: 220px;
        // height: auto !important;
        .btn-light {
            font-size: 14px;
            color: $whithe-600;
            font-weight: 600;
            line-height: 20px;
            background: $white;
            border: none;
            border-radius: 12px;
            padding: 12px 10px;
            // &::after {
            //     border: none;
            //     background: url("../../assets/images/down-arrow.png") no-repeat 50% 50%/100%;
            //     width: 18px;
            //     height: 8px;
            //     margin-top: 4px;
            // }
            &:not(:disabled):not(.disabled):active:focus,
            &:active,
            &:focus{
                outline: none !important;
                box-shadow: none;
                background-color: $white;
                border: solid 1px $dark-blue;
                color: $warm-grey;
            }
        }

        &.dropup {
            .btn-light {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        .dropdown-menu{
            padding: 0;
        .dropdown-item {
            font-size: 14px;
            line-height: 1.2;
            color: $black-200;
            padding: 10px 12px;
            &.active,
            &:active{
                background: $whithe-600;
                color: $black-200;
            }
            &:focus{
                outline: none;
            }
        }
    }
    }

    .radiogroup,
    .checkbox{
        label{
            line-height: 24px;
            &.radio-inline,
            &.checkbox-inline{
                &:not(:last-of-type) {
                    margin-right: 20px;
                }
            }
        }
    }

input[type="submit"], .btn-primary{
    background-color: $rouge;
    color: $white;
    border: 1px solid $rouge;
}
.btn-reset{
    background-color: $white;
    color: $rouge;
    border: 1px solid $rouge;
    &:hover{
        background-color: $rouge;
        color: $white;
    }
}
.daterangepicker .drp-buttons .btn, .daterangepicker .drp-buttons .btn-primary {
    min-width: 90px !important;
    margin-bottom: 0;
}
input[type="button"]{
    background-color: $rouge;
    color: $white;
}



.btn, .btn-primary{
    min-width: 174px;
    border-radius: 22px;
    font-size: 16px;
    padding: 10px 12px;
    transition: all .3s ease-in;
    margin-bottom: 15px;
    &:not(:first-of-type){
        margin-left: 15px;
    }
    &:hover{
        color: $white;
        box-shadow: 0 0 10px rgba($black, $alpha: 0.22);
    }
    &:disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-group{    
    .btn{
        &:not(:first-child){
            margin-left: 15px;
            border-radius: 22px;
        }
        &:not(:last-child){
            &:not(.dropdown-toggle){
                border-radius: 22px;
            }
        }
    }
        
}
.btn-primary.disabled, .btn-primary:disabled {
    background: #c8c8c8 !important;
    color: #ffffff;
    border: 0;
}
.btn-primary:hover {
    color: #fff;
    background-color: $rouge;
    border-color: $rouge;
}
.daterangepicker{
    td{
        &.today{
            border-radius: 4px;
            background-color:  $rouge;
            border-style: none;
            color: #ffffff;
            &.active{
                border-radius: 4px;
                background-color: $rouge;
                border-style: none;
                color: #ffffff;
                &:hover{
                background-color: $rouge;
                border-style: none;
                color: #ffffff;
                }
            }
        }
        &.active:not(.today){
            border-radius: 4px;
            background-color: #ffedf2;
            border: 1px solid $rouge;
            border: 1px solid ;
            border-style: none;
            color: #111111 !important;
        }
    }
}

.checkradios-checkbox, .checkradios-radio{
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
}
.checkradios-checkbox{
    border-radius: 4px;
}
.icon-checkradios-checkmark:before{
    top: 0px;
    left: 5px;
}
.input-group{
    .form-control{
        max-width: 400px !important;
    }
}
.bootstrap-select .btn-light {
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 600;
    line-height: 20px;
    max-width: 570px;
    height: 46px;
    border: solid 1px #dedede;
    background-color: #ffffff;
    padding: 12px 18px;
    border-radius: 12px;
    display: block;
    &:hover{
        box-shadow: none;
    }
}
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, 
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #ffffff;
    border-color: #d3d9df;}

    .checkbox_wrap {
        display: flex;
        align-items: center;
        margin-right: 40px;
        position: relative;
        @media(max-width:640px){
         margin-right: 16px;
        }
        input {
            width: 20px;
            height: 20px;
            border: solid 2px var(--white-four);
            background-color: var(--white);
            margin-right: 15px;
            opacity: 0;
            &:checked{
                & + label{
                    &:before{
                        background-color: var(--rouge);
                        background-image: url('../images/check.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
        label {
           font-weight:600;
            font-size: 18px;
            line-height: 1.33;
            color: var(--black-two);
            &:before{
                content: '';
                width: 18px;
                height: 18px;
                border: 2px solid var(--white-four);
                border-radius: 4px;
                background-color: var(--white);
                position: absolute;
                top: 4px;
                left: 0;
            }
            &:after{
                   
            }
        }
    }
    .ar{
        .checkbox_wrap{
            label{
                &:before{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    .input-group-append{
        margin-bottom: 0 !important;
        .btn, .btn-primary{
            margin-bottom: 0;
        }
    }
    .ar{
        .input-group{
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }
    .f_row{
        &.f_column{
            flex-direction: column;
        }
    }
    .ar{
        .survey_form{
            .form_wrapper{
                .radio_wrap{
                    margin-left: 40px;
                    margin-right: 0;
                }
            }
        }
        .checkbox_wrap{
            margin-left: 40px;
                    margin-right: 0;
        }
        .btn-primary{
            text-align: center;
        }
    }
    .btns_wrap{
        margin: 0 -10px;
        @media screen and (max-width: 600px){
            justify-content: center !important;
        }
        button{
            margin: 0 10px;
        }
    }
    
    #success_popup, #fail_popup{
        .modal-dialog{
            max-width: 320px;
            text-align: center;
            margin: 0 auto;
            .success_wrapper{
                margin: 15px 0;
                .success_icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #008099;
                    position: relative;
                    margin: 10px auto;
                    &:after{
                        content: '';
                        width: 24px;
                        height: 12px;
                        border-color: #ffffff;
                        border-style: solid;
                        border-width: 0 0 2px 2px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(-45deg);
                        position: absolute;
                        top: 15px;
                        left: 12px;
                    }
                }
                .fail_icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    position: relative;
                    margin: 10px auto;
                    background-image: url('../images/alert.png');
                    background-size: contain;
                    background-position:center;
                    background-repeat: no-repeat;
                }
                p{
                    font-weight:700;
                    font-size: 18px;
                    color: var(--black);
                    margin: 20px 0;
                }
                .rouge_btn{
                    padding: 12px 34px !important;
                }
            }
        }
    }

    .bootstrap-datetimepicker-widget table td.active, 
    .bootstrap-datetimepicker-widget table td.active:hover {
        background-color: #b51647 !important;
    }
    .bootstrap-datetimepicker-widget table td.day {
        height: 30px !important;
        line-height: 30px !important;
        width: 30px !important;
        font-size: 14px !important;
    }
    .bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
        background: none;
        color: #777;
        cursor: not-allowed;
        text-decoration: line-through !important;
    }
    .bootstrap-datetimepicker-widget table td.today {
        position: relative;
        border: 1px solid #b51647 !important;
    }
    .bootstrap-datetimepicker-widget table td, 
    .bootstrap-datetimepicker-widget table th{
border-radius: 0 !important;
    }
    .bootstrap-datetimepicker-widget table th {
        height: 30px !important;
        line-height: 30px !important;
        width: 20px;
    }
    // .cl-time,
    // .cl-calendar,
    // .cl-up,
    // .cl-down,
    // .cl-prev,
    // .cl-next{
    //     position: relative;
    //     display: inline-block;
    //     width: 16px !important;
    //     height: 16px !important;
    //     cursor: pointer;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }
    // .cl-time{
    //     background-image: url('../../assets/images/cl-clock.png');
    //     &:hover, &:focus{
    //         background: url('../../assets/images/cl-clock.png') !important;
    //         background-repeat: no-repeat !important;
    //         background-position: center !important;
    //     }
    // }
    // .cl-calendar{
    //     background-image: url('../../assets/images/cl-calendar.png');
    //     &:hover, &:focus{
    //         background: url('../../assets/images/cl-calendar.png') !important;
    //         background-repeat: no-repeat !important;
    //         background-position: center !important;
    //     }
    // }
    // .cl-up{
    //     background-image: url('../../assets/images/cl-up.png');
    //     &:hover, &:focus{
    //         background: url('../../assets/images/cl-up.png') !important;
    //         background-repeat: no-repeat !important;
    //         background-position: center !important;
    //     }
    // }
    // .cl-down{
    //     background-image: url('../../assets/images/cl-down.png');
    //     &:hover, &:focus{
    //         background: url('../../assets/images/cl-down.png') !important;
    //         background-repeat: no-repeat !important;
    //         background-position: center !important;
    //     }
    // }
    // .cl-prev{
    //     background-image: url('../../assets/images/cl-left.png');
    //     &:hover, &:focus{
    //         background: url('../../assets/images/cl-left.png') !important;
    //         background-repeat: no-repeat !important;
    //         background-position: center !important;
    //     }
    // }
    // .cl-next{
    //     background-image: url('../../assets/images/cl-right.png');
    //     &:hover, &:focus{
    //         background: url('../../assets/images/cl-right.png') !important;
    //         background-repeat: no-repeat !important;
    //         background-position: center !important;
    //     }
    // }
    .ar{
        // .cl-prev{
        //     background-image: url('../../assets/images/cl-right.png');
        //     &:hover, &:focus{
        //         background: url('../../assets/images/cl-right.png') !important;
        //         background-repeat: no-repeat !important;
        //         background-position: center !important;
        //     }
        // }
        // .cl-next{
        //     background-image: url('../../assets/images/cl-left.png');
        //     &:hover, &:focus{
        //         background: url('../../assets/images/cl-left.png') !important;
        //         background-repeat: no-repeat !important;
        //         background-position: center !important;
        //     }
        // }
    }
    .bootstrap-datetimepicker-widget table td span.cl-up,
    .bootstrap-datetimepicker-widget table td span,
    .bootstrap-datetimepicker-widget table td {
        
        height: 14px !important;
        line-height: 14px !important;
        margin-bottom: 0 !important;
        &.minute, .timepicker-minute, .timepicker-hour, .year{
            height: 34px !important;
            line-height: 34px !important;
            min-width: 26px;
            font-size: 14px;
        }
        &.hour{
            height: 34px !important;
            line-height: 34px !important;
            font-size: 14px;
        }
    }
    .minute, .hour{
        height: 34px !important;
        line-height: 34px !important;
    }
    .bootstrap-datetimepicker-widget table td a{
        margin-bottom: 0 !important;
    }
    .collapse.in {
        display: block;
    }
    .collapse.show {
        display: block;
    }
    .timepicker {
        .btn, .btn-primary{
            min-width: auto !important;
            border-radius: 4px;
            margin: 0 !important;
            padding: 3px 4px !important;
            font-size: 15px;
        }
        .btn:hover, .btn-primary:hover{
            box-shadow: none;
        }
        a.btn {
            background-color: rgba(0, 0, 0, 0.09);
            padding: 0px !important;
            min-width: 26px !important;
            max-width: 26px !important;
            height: 26px;
        }
    }
    td.separator {
        font-weight: bold;
        font-size: 20px;
    }
    .collapse:not(.show) {
        display: block !important;
    }
    li.picker-switch.accordion-toggle{
        display: none !important;
    }
    .bootstrap-datetimepicker-widget .timepicker-minute{
        font-size: 14px !important;
    }
    .bootstrap-datetimepicker-widget .timepicker-hour{
        font-size: 14px !important;
    }
    .bootstrap-datetimepicker-widget .timepicker-hour, 
    .bootstrap-datetimepicker-widget .timepicker-minute, 
    .bootstrap-datetimepicker-widget .timepicker-second{
        font-weight: normal !important;
    }
    .bootstrap-datetimepicker-widget table td span:hover{
        background: #e8e8e8 !important;
        color: #111111 !important;
    }
    .bootstrap-datetimepicker-widget .btn:hover, 
    .bootstrap-datetimepicker-widget .btn-primary:hover{
        color: #111111 !important;
    }
    .timepicker {
        border-top: 1px solid #ccc;
        padding: 10px 0;
    }
    .bootstrap-datetimepicker-widget table td span{
        width: 18px !important;
    }
    .bootstrap-datetimepicker-widget table td.today:before {
        border-bottom-color: #b51647 !important;
    }
    .fa, .fas{
        font-size: 14px !important;
    }
    span.month {
        width: 54px;
        height: 54px !important;
        min-width: 54px;
        min-height: 54px;
        line-height: 54px !important;
        padding: 17px 0;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu{
        width: 17em !important;
    }
    span.year {
        min-width: 50px !important;
        font-size: 14px;
    }
    span.decade {
        min-width: 49px;
        min-height: 53px !important;
        font-size: 14px;
    }

    .ar{
        .alert-dismissible {
            padding-right: 1.25rem;
            padding-left: 4rem;
            text-align: right;
            .close {
                position: absolute;
                top: 0;
                right: auto;
                padding: .75rem 1.25rem;
                color: inherit;
                left: 0;
            }
        }
        .dropdown-toggle::after {
            position: absolute;
            left: 8px;
            top: 20px;
        }
    }