* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: ltr;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link-text {
  color: #b51647;
}

fieldset legend {
  display: none;
}

.hrline {
  border-top: solid 1px #d6d6d6;
}

.hover {
  position: relative;
}

.hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #6a6a6b;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hover:hover::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.card-wrapper {
  padding: 34px 0 50px;
  width: 100%;
  background-color: #f8f7f6;
  height: 100%;
  display: table;
}

.card-wrapper .sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 1124px) {
  .card-wrapper .sub-header {
    padding: 0 40px 0 0;
  }
}

@media (max-width: 490px) {
  .card-wrapper .sub-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.card-wrapper .sub-header h1 {
  font-family: "cairo_bold";
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.34px;
  color: #1c1517;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.card-wrapper .sub-header h1 .user-name {
  position: relative;
  font-family: "cairo_semibold";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.26px;
  color: #1c1517;
  letter-spacing: 0.26px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.card-wrapper .sub-header h1 .user-name::before {
  content: '';
  width: 1px;
  height: 19px;
  border: solid 1px #979797;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card-wrapper .sub-header .switch_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 660px) {
  .card-wrapper .sub-header .switch_profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (max-width: 490px) {
  .card-wrapper .sub-header .switch_profile {
    margin-top: 15px;
  }
}

.card-wrapper .sub-header .switch_profile p {
  font-family: "cairo_semibold";
  font-size: 13px;
  line-height: 1.92;
  letter-spacing: 0.19px;
  color: #1c1517;
  margin-bottom: 0;
  width: 92px;
}

@media screen and (max-width: 660px) {
  .card-wrapper .sub-header .switch_profile p {
    margin-left: 11px;
    margin-bottom: 5px;
  }
}

@media (max-width: 490px) {
  .card-wrapper .sub-header .switch_profile p {
    margin-left: 0;
  }
}

.card-wrapper .sub-header .switch_profile .switch_group {
  min-width: 216px;
  height: 34px;
  border-radius: 17px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 0 0 11px;
}

@media (max-width: 490px) {
  .card-wrapper .sub-header .switch_profile .switch_group {
    margin: 0;
  }
}

.card-wrapper .sub-header .switch_profile .switch_group input[type='radio'] {
  position: absolute;
  top: 10px;
  left: 5px;
  opacity: 0;
}

.card-wrapper .sub-header .switch_profile .switch_group input[type='radio']:checked + label {
  background-color: #b51647;
  color: #ffffff;
}

.card-wrapper .sub-header .switch_profile .switch_group input[type='radio']:checked + label > span {
  display: block;
}

.card-wrapper .sub-header .switch_profile .switch_group label {
  min-width: 107px;
  height: 34px;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 0;
  font-family: "cairo_semibold";
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.2px;
  color: #6a6a6b;
  padding: 1px 10px 1px 16px;
  cursor: pointer;
}

.card-wrapper .sub-header .switch_profile .switch_group label > span {
  display: none;
  margin-top: -2px;
}

.card-wrapper .sub-header .switch_profile .switch_group label > span img {
  margin: 0 5px 0 0;
}

.card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:checked + label:after, .card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:checked + label:before, .card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:checked + label:after,
.card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:not(:checked) + label:before, .card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:not(:checked) + label:after {
  display: none;
}

.card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:not(:checked) + label:before, .card-wrapper .sub-header .switch_profile .switch_group [type="radio"]:not(:checked) + label:after {
  display: none;
}

.card-wrapper .sub-header .dash_menu {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: none;
}

@media screen and (max-width: 1124px) {
  .card-wrapper .sub-header .dash_menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .card-wrapper .sub-header .dash_menu {
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.card-wrapper .navtabsbar .nav-tabs {
  max-width: 1138px;
  border-radius: 3px;
  background-color: #6a6a6b;
  border: none;
  padding-left: 2px;
}

@media (max-width: 481px) {
  .card-wrapper .navtabsbar .nav-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-wrapper .navtabsbar .nav-tabs .nav-item:not(:last-of-type) {
  border-right: solid 1px rgba(255, 255, 255, 0.23);
}

@media (max-width: 481px) {
  .card-wrapper .navtabsbar .nav-tabs .nav-item:not(:last-of-type) {
    border-right: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.23);
  }
}

.card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link {
  font-family: "cairo_regular";
  font-size: 13px;
  line-height: 1.69;
  letter-spacing: 0.46px;
  color: #ffffff;
  border-radius: 0;
  border: none;
  padding: 18px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

@media (max-width: 567px) {
  .card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link {
    padding: 12px 15px;
  }
}

.card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link .icon {
  position: relative;
  width: 20px;
  margin-right: 9px;
}

.card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link .icon .show-hide {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link.active, .card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link:hover {
  color: #cd4a04;
  background: #ffffff;
}

.card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link.active .icon img:first-child, .card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link:hover .icon img:first-child {
  display: none;
}

.card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link.active .icon .show-hide, .card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link:hover .icon .show-hide {
  opacity: 1;
}

.card-wrapper .navtabsbar .tab-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 30px;
}

@media (max-width: 567px) {
  .card-wrapper .navtabsbar .tab-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-wrapper .navtabsbar .tab-card.my-profile-card .right-side {
  max-width: 980px;
  margin-left: 0;
}

.card-wrapper .navtabsbar .tab-card.my-profile-card .right-side .card {
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 0;
}

.card-wrapper .navtabsbar .tab-card .left-side {
  max-width: 260px;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;
  padding: 26px 21px 30px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .left-side {
    padding: 15px 15px 20px;
  }
}

@media (max-width: 567px) {
  .card-wrapper .navtabsbar .tab-card .left-side {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .left-side .heading {
  border-bottom: solid 1px #e4e4e4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .left-side .heading {
    padding-bottom: 12px;
    margin-bottom: 10px;
  }
}

.card-wrapper .navtabsbar .tab-card .left-side .heading h2 {
  font-family: "cairo_bold";
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.2px;
  color: #1c1517;
}

.card-wrapper .navtabsbar .tab-card .left-side .navbar {
  padding: 0;
}

.card-wrapper .navtabsbar .tab-card .left-side .navbar li {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .left-side .navbar li {
    margin-bottom: 15px;
  }
}

.card-wrapper .navtabsbar .tab-card .left-side .navbar li a {
  font-family: "cairo_semibold";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #6a6a6b;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .left-side .navbar li a:hover {
  color: #cd4a04;
  font-family: "cairo_bold";
}

.card-wrapper .navtabsbar .tab-card .left-side .navbar li.active a {
  font-family: "cairo_bold";
  color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .right-side {
  max-width: 845px;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  margin-left: 32px;
  padding: 34px 32px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side {
    max-width: 460px;
    margin-left: 15px;
    padding: 20px 15px;
  }
}

@media (max-width: 567px) {
  .card-wrapper .navtabsbar .tab-card .right-side {
    max-width: 100%;
    margin-left: 0;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card {
  padding: 0;
  border: 0;
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 42px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card {
    margin-bottom: 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-header {
  border-radius: 0;
  padding: 0;
  border: none;
  background: #ffffff;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-header h3 {
  font-family: "cairo_bold";
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.29px;
  color: #1c1517;
  max-width: 100%;
  margin-bottom: 0;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body {
  padding: 42px 0 0;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body {
    padding: 15px 0 0;
  }
}

@media (min-width: 991px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body fieldset .col-lg-5 {
    padding: 0 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body fieldset .form-group {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body fieldset .form-group {
    margin-bottom: 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body fieldset .form-group label {
  font-family: "cairo_semibold";
  font-size: 13px;
  line-height: 0.92;
  letter-spacing: 0.19px;
  color: #1c1517;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body fieldset .form-group .form-control {
  border-radius: 8px;
  border: solid 1px #c9cacd;
  background-color: #fafafa;
  padding: 10px 16px;
  font-family: "cairo_semibold";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #1c1517;
  height: 46px;
  color: #1c1517;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body fieldset .form-group .form-control:focus {
  border-color: #008099;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .card-expired {
  max-width: 437px;
  width: 100%;
  border-radius: 25px;
  background-color: #f1f1f1;
  padding: 15px 29px;
  margin: 10px 0 37px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .card-expired {
    padding: 12px 15px;
    margin: 10px 0 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .card-expired p {
  font-family: "cairo_semibold";
  font-size: 13px;
  line-height: 1.54;
  color: #6a6a6b;
  color: #6a6a6b;
  margin-bottom: 0;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .card-expired .renew {
  font-family: "cairo_bold";
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.2px;
  color: #b51647;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .card-expired .renew::after {
  background-color: #b51647;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: solid 1px #cec5c5;
  margin: 0 -34px 34px;
  padding: 0 32px;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs {
    margin: 0 -15px 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs li a {
  font-family: "cairo_semibold";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c1517;
  display: block;
  padding: 10px 15px;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #b51647;
  border-radius: 1.5px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs li a.active, .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs li a:hover {
  color: #b51647;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs li a.active::after, .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .profile-navtabs li a:hover::after {
  width: 100%;
}

@media (min-width: 1280px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .col-md-6 {
    padding: 0 20px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img {
    margin-bottom: 25px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .img-box {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .upload-button {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .upload-button label {
  font-family: "cairo_bold";
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.19px;
  color: #cd4a04;
  cursor: pointer;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .upload-button label::after {
  background-color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .upload-button .file-upload {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services {
  background-color: #f1f1f1;
  padding: 18px 15px 15px 21px;
  margin-top: 115px;
  border-radius: 12px;
}

@media (min-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services {
    margin-top: 25px;
  }
}

@media (max-width: 567px) {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services {
    margin-top: 15px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .title {
  border-bottom: solid 1px #d6d6d6;
  margin: 0 -15px 20px -21px;
  padding: 0 21px;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .title h4 {
  font-family: "cairo_bold";
  font-size: 14px;
  line-height: 1.43;
  color: #1c1517;
  letter-spacing: 0.2px;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li {
  margin-bottom: 10px;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li a {
  font-family: "cairo_semibold";
  font-size: 13px;
  line-height: 20px;
  color: #6a6a6b;
  letter-spacing: 0.19px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background: #6a6a6b;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li a:hover {
  color: #cd4a04;
  font-family: "cairo_bold";
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li a:hover::after {
  width: 100%;
  background-color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li.active a {
  color: #cd4a04;
  font-family: "cairo_bold";
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .related-services .services ul li.active a::after {
  width: 100%;
  background-color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .footer-btn {
  border-top: solid 1px #e1e1e1;
  margin: 0 -32px;
  padding: 18px 32px 0;
}

@media screen {
  .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .footer-btn {
    margin: 20px -15px;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .footer-btn .btn {
  min-width: 103px;
  border-radius: 13px;
  font-family: "cairo_bold";
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.2px;
  color: #6a6a6b;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .footer-btn .btn.submit-btn {
  background: #b51647;
  color: #ffffff;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .footer-btn .btn.submit-btn:hover {
  color: #ffffff;
}

.card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .footer-btn .btn:hover {
  color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite {
  margin-left: 0;
}

@media (max-width: 768px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite {
    max-width: 100%;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-header {
  border-bottom: solid 1px #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 567px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-header {
    margin-bottom: 0;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body {
  padding-top: 0;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel {
  border-bottom: solid 1px #e1e1e1;
  padding: 25px 0 4px;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

@media (max-width: 1138px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header {
    padding: 0;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header h4 {
  font-family: "cairo_bold";
  font-size: 16px;
  line-height: 1.5;
  color: #6e6259;
  letter-spacing: 0.23px;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header .toggle-icon {
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: auto;
  cursor: pointer;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header .toggle-icon::before {
  content: "";
  position: absolute;
  display: block;
  background: #acacac;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 1px;
  bottom: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header .toggle-icon::after {
  content: " ";
  position: absolute;
  display: block;
  background: #acacac;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 1px;
  right: 1px;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-header .sub-header[aria-expanded="true"] .toggle-icon::before {
  opacity: 0;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container {
  -webkit-column-count: 3;
          column-count: 3;
}

@media (max-width: 667px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 480px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box {
  max-width: 236px;
  border-radius: 12px;
  border: solid 1px #fafafa;
  background-color: #fafafa;
  padding: 18px 24px 18px 24px;
  margin-bottom: 8px;
  display: inline-block;
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  cursor: pointer;
}

@media (max-width: 667px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box {
    display: block;
  }
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box .icon {
  position: absolute;
  top: 16px;
  right: 4px;
  cursor: pointer;
  width: 14px;
  text-align: center;
  height: 25px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 0;
  visibility: hidden;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box h4 {
  font-family: "cairo_bold";
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.2px;
  color: #1c1517;
  letter-spacing: 0.2px;
  margin-bottom: 5px;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box .link {
  font-family: "cairo_bold";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.17px;
  color: #cd4a04;
  display: inline-block;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box.active, .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box:hover {
  border-color: #979797;
}

.card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box.active .icon, .card-wrapper .navtabsbar .tab-card .right-side.favorite .card-body .accordion .card-panel .card-box-container .card-box:hover .icon {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 767px) {
  .card-wrapper .navtabsbar .tab-card .card-services .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .card-wrapper .navtabsbar .tab-card .card-services .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (max-width: 640px) {
  .card-wrapper .navtabsbar .tab-card .card-services .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar .title h5 {
  font-family: "cairo_bold";
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.2px;
  color: #1c1517;
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar ul li {
  margin-bottom: 15px;
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar ul li a {
  font-family: "cairo_semibold";
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.19px;
  color: #6a6a6b;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar ul li a:hover {
  color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar ul li.active a {
  color: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar ul li.active a::after {
  background: #cd4a04;
}

.card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar:nth-child(2) {
  margin-top: 34px;
}

@media (max-width: 640px) {
  .card-wrapper .navtabsbar .tab-card .card-services .card-services-navbar:nth-child(2) {
    margin: 20px 0;
  }
}

.ar {
  direction: rtl;
  text-align: right;
}

.ar .card-wrapper .sub-header .user-name {
  padding-left: 0;
  padding-right: 20px;
}

.ar .card-wrapper .sub-header .user-name::before {
  left: auto;
  right: 8px;
}

.ar .card-wrapper .sub-header .switch_profile .switch_group label span img {
  margin: 0 0 0 5px;
}

.ar .card-wrapper .navtabsbar .nav-tabs {
  padding: 0 2px 0 0;
}

.ar .card-wrapper .navtabsbar .nav-tabs .nav-item:not(:last-of-type) {
  border-right: 0;
  border-left: solid 1px rgba(255, 255, 255, 0.23);
}

@media (max-width: 481px) {
  .ar .card-wrapper .navtabsbar .nav-tabs .nav-item:not(:last-of-type) {
    border-left: none;
  }
}

.ar .card-wrapper .navtabsbar .nav-tabs .nav-item .nav-link .icon {
  margin-right: 0;
  margin-left: 9px;
}

.ar .card-wrapper .navtabsbar .tab-card .left-side .heading h2 {
  text-align: right;
}

.ar .card-wrapper .navtabsbar .tab-card .right-side {
  margin: 0 32px 0 0;
}

@media (max-width: 567px) {
  .ar .card-wrapper .navtabsbar .tab-card .right-side {
    margin: 0;
  }
}

.ar .card-wrapper .navtabsbar .tab-card .right-side .card-body .card-expired .renew {
  margin: 0 10px 0 0;
}

.ar .card-wrapper .navtabsbar .tab-card .right-side .card-body .inner-navtabs .my-profile .profile-img .upload-button {
  margin: 0 20px 0 0;
}

.ar .card-wrapper .navtabsbar .tab-card .right-side.favorite .accordion .card-panel .card-header .sub-header .toggle-icon {
  margin-left: 0;
  margin-right: auto;
}

.ar .card-wrapper .navtabsbar .tab-card .right-side.favorite .accordion .card-panel .card-box-container .card-box {
  padding: 18px 24px;
}

.ar .card-wrapper .navtabsbar .tab-card .right-side.favorite .accordion .card-panel .card-box-container .card-box .icon {
  left: 4px;
  right: auto;
}

.dashboard_left_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 88px;
  padding: 122px 0 67px 0;
  background-color: #1c1517;
  z-index: 99;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

@media screen and (max-width: 1280px) {
  .dashboard_left_nav {
    width: 60px;
  }
}

@media screen and (max-width: 1124px) {
  .dashboard_left_nav {
    left: -60px;
  }
}

@media screen and (max-width: 991px) {
  .dashboard_left_nav {
    padding: 60px 0 67px 0;
  }
}

.dashboard_left_nav nav ul {
  margin-bottom: 0;
}

.dashboard_left_nav nav ul li {
  padding: 11px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 768px) {
  .dashboard_left_nav nav ul li {
    padding: 2px 0;
  }
}

.dashboard_left_nav nav ul li a {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 30px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .dashboard_left_nav nav ul li a {
    padding: 12px 16px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard_left_nav nav ul li a {
    height: 42px;
  }
}

.dashboard_left_nav nav ul li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 43px;
  border-radius: 2px;
  background-color: transparent;
}

.dashboard_left_nav nav ul li a img {
  opacity: 0.6;
}

.dashboard_left_nav nav ul li a .nav_text {
  opacity: 0.6;
  font-family: 'cairo_semibold';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 0 21px;
  white-space: nowrap;
  display: none;
}

.dashboard_left_nav nav ul li a.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.dashboard_left_nav nav ul li a.active:after {
  background-color: #ffffff;
}

.dashboard_left_nav nav ul li a.active img {
  opacity: 1;
}

.dashboard_left_nav nav ul li a.active .nav_text {
  opacity: 1;
}

.dashboard_left_nav nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.dashboard_left_nav nav ul li a:hover:after {
  background-color: #ffffff;
}

.dashboard_left_nav nav ul li a:hover img {
  opacity: 1;
}

.dashboard_left_nav nav ul li a:hover .nav_text {
  opacity: 1;
}

.dashboard_left_nav nav.dashboard_sub_nav {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
}

.dashboard_left_nav nav.dashboard_sub_nav ul li:first-child {
  border-top: solid 1px rgba(255, 255, 255, 0.18);
}

.dashboard_left_nav:hover {
  width: 277px;
}

.dashboard_left_nav:hover nav ul li a .nav_text {
  display: block;
}

.ar .dashboard_left_nav {
  right: 0;
  left: auto;
}

@media screen and (max-width: 1124px) {
  .ar .dashboard_left_nav {
    left: auto;
    right: -60px;
  }
}

.ar .dashboard_left_nav nav ul li a .nav_text {
  margin: 0 21px 0 0;
}

.dash_menu_show .dashboard_left_nav {
  left: 0;
}

.dash_menu_show.ar .dashboard_left_nav {
  right: 0;
  left: auto;
}

.alert_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.hku_alert {
  display: none;
}

.hku_alert .remove_favourite {
  position: fixed;
  bottom: 26px;
  left: calc((100vw - 377px) / 2);
  z-index: 1000;
  width: 377px;
  height: 86px;
  border-radius: 12px;
  padding: 16px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hku_alert .remove_favourite .sucess_icon {
  width: 32px;
  min-width: 32px;
}

.hku_alert .remove_favourite .sucess_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 17px;
}

.hku_alert .remove_favourite .sucess_text p {
  font-family: 'cairo_semibold';
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #6a6a6b;
  max-width: 190px;
  margin: 0;
}

.hku_alert .remove_favourite .undo_button {
  width: 76px;
  min-width: 35px;
}

.hku_alert .remove_favourite .undo_button .link {
  font-family: 'cairo_bold';
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #b51647;
}

.hku_alert .remove_favourite .close_hku_alert {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=my-data.css.map */