
.grid_view{
    .current_polls{
        .list_card{
            min-height: auto;
        }
    }
}

.modal{
    background-color: rgba(0, 0, 0, 0.17);
}
#pollsFormModal{
    .captcha_wra {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-dialog{
        @media screen and (min-width: 1024px){
            min-width: 940px;
        }
        
        .modal-title{
            margin: 0 -8px;
            display: flex;
            align-items: center;
            figure{
                min-width: 20px;
                margin: 0 8px;
            }
            h5{
                font-size: 28px;
                font-weight: 700;
                font-style: normal;
                line-height: 1.18;
                letter-spacing: normal;
                color: var(--purple-brown);
            }
        }
        .modal-content{
            border-radius: 12px;
        }
    }
}

#closeConfirmation, #pollsFormModal, #surveySubmitSuccess, #surveyError, #viewAllOrganizers{
    .modal-header, .modal-body, .modal-footer{
        padding: 1rem 1.4rem;
        @media screen and (max-width: 768px){
            padding: 0.5rem 1em;
        }
    }
    .modal-header{
        &.no_border{
            border-bottom: 0;
        }
        
    }
    .modal-footer{
        border: 0;
        button{
            margin-bottom: 0;
        }
        &.s_center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .btn, .btn-primary{
        min-width: 120px !important;
        font-size: 15px !important;
    }
    .custom_modal {
        padding: 20px;
    }
}
#closeConfirmation, #surveySubmitSuccess, #surveyError{
    .modal-body{
        // padding: 3.5rem 1rem;
        text-align: center;
    }
}
.ar{
    .close{
        position: absolute;
        left: 0;
    }
    #closeConfirmation, #surveySubmitSuccess, #surveyError{
        .modal-body{
            padding: 3.5rem;
            text-align: center;
            p{
                text-align: center !important;
            }
        }
    }
}
.organisers{
    margin: 15px 0 20px 0;
    @media screen and (max-width: 768px){
        margin: 0 0 15px 0;
    }
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -8px;
        @media screen and (max-width: 1440px){
            margin: -4px;
        }
        li{
            margin: 8px;
            padding: 5px 17px;
            border-radius: 20px;
            background-color: var(--white-five);
            @media screen and (max-width: 1440px){
                margin: 4px;
                padding: 2px 12px;
            }
            a{
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: center;
                color: var(--greyish-brown-three);
                text-decoration: none;
                @media screen and (max-width: 768px){
                    font-size: 13px;
                    line-height: 1.5;
                }
            }
            &.active{
                background-color: var(--ocean);
                a{
                    color: var(--white);
                }
            }
            &:last-child{
                cursor: pointer;
            }
        }
    }
}

.s_questions{
    min-height: 250px;
    .s_ques_wrapper{
        h4{
            font-size: 20px;
            font-weight: 700;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: var(--purple-brown);
            @media screen and (max-width: 1500px){
                font-size: 16px;
            }
            @media screen and (max-width: 768px){
                font-size: 14px;
                font-weight: 600;
            }
        }
        .options{
            .checkbox_wrap{
                label{
                    &:before{
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .radio_wrap, .checkbox_wrap{
                padding: 30px 0;
                // margin: 0 15px;
                
                &:last-child{
                    border-bottom: 0;
                }
                @media screen and (max-width: 1500px){
                    padding: 10px 0;
                }
                input[type="radio"]:checked, input[type="checkbox"]:checked{
                    +label{
                        color: var(--purple-brown);
                    }
                }
                label{
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    line-height: 1.58;
                    letter-spacing: 0.23px;
                    color: var(--slate-grey);
                    margin-bottom: 0;
                    @media screen and (max-width: 1500px){
                        font-size: 14px;
                    }
                    @media screen and (max-width: 768px){
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                input[type="radio"], input[type="checkbox"]{
                    &:focus{
                        +label{
                            font-weight: 700;
                            color: var(--purple-brown);
                            outline: 1px solid #000000 !important;
                            @media screen and (max-width: 768px){
                                font-weight: 600;
                            }
                        }
                    }
                    &:checked{
                        +label{
                            font-weight: 700;
                            color: var(--purple-brown);
                            @media screen and (max-width: 768px){
                                font-weight: 600;
                            }
                        }
                    }
                   
                }
            }
            .f_row{
                // margin: 0 -15px;
                .radio_wrap, .checkbox_wrap{
                    border-bottom: 0;
                }
                &.f_column{
                    // margin: 0;
                    .radio_wrap, .checkbox_wrap{
                        border-bottom: 1px solid #d6d8da;
                        // margin: 0;
                        &:last-child{
                            
                            margin-bottom: 20px;
                        }
                    }
                    
                }
            }
        }
    }
}

.success_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #008099;
    position: relative;
    margin: 10px auto;
    &:after{
        content: '';
        width: 24px;
        height: 12px;
        border-color: #ffffff;
        border-style: solid;
        border-width: 0 0 2px 2px;
        -webkit-transform: rotate(
    45deg
    );
        transform: rotate(
    -45deg
    );
        position: absolute;
        top: 15px;
        left: 12px;
    }
}
.s_org_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36;
    color: var(--black);
    @media screen and (max-width: 768px){
        font-weight: 600;
        font-size: 16px;
    }
}
.s_close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.s_org_tags{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    margin-top: 20px;
    li{
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 8px;
        background-color: var(--ocean);
        color: var(--white);
        margin: 6px 3px 0;
    }
}
.category_surveys_card{
    .list_card{
        min-height: 370px !important;
    }
}
#surveyQuestions{
    .item{
        max-height: 300px;
        min-height: 300px;
        padding: 0 2px;
        overflow-y: auto;
        overflow-x: hidden;
        @media screen and (max-width: 768px){
            max-height: 350px;
            min-height: 350px;
        }
    }
}

    .input-group-append{
        input[type="file"]{
            opacity: 0;
            width: 0;
            height: 0;
            &:focus{
                +span{
                    outline: 1px solid #000000;
                }
            }
        }
    }

.if_others{
    display: none;
    // margin: 15px;
    &.other_in{
        display: block;
    }
}
.category_polls_card {
    width: 100%;
}
.progress_wrap{
    width: 50px;
    .percentage{
        width: 50px;
        text-align: center;
    }
}
.category_polls_card{
    .progress_wrap{
        width: 200px;
        margin: 0 25px;
        .percentage{
            width: 50px;
            text-align: center;
        }
        .prog_wrap{
            width: 158px;
            height: 10px;
            border: 1px solid var(--slate-grey);
            border-radius: 5px;
            background-color: var(--white);
            position: relative;
            .progress_bar{
                position: absolute;
                top: 0;
                left: 0;
                height: 8px;
                background-color: var(--rouge);
                &.current_vote{
                    background-color: var(--ocean);
                }
            }
            
        }
    }
}
[type="radio"]:focus + label, [type="radio"]:focus + label {
    outline: 1px solid #000;
    font-weight: 600;
    color: var(--black);
}
.category_polls_card{
    .vote_wrap{
        position: inherit;
        padding: 0;
    }
}

.row_wrap{
    border-bottom: 1px solid var(--white-nine);
    margin-bottom: 15px;
    label{
        padding: 0px 0 15px 0px !important;
        margin: 0;
        display: table;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 1.38 !important;
        letter-spacing: 0.23px !important;
        color: var(--slate-grey) !important;
    }
    [type="radio"] + label{
        padding: 0px 0 15px 40px !important;
        margin: 0;
        display: table;
    }
}

.category_tab_wrapper{
    margin-top: 15px;
    ul{
        border-bottom: 1px solid #ccc !important;
    }
}
.heading_container{
    max-width: 372px;
    // margin-top: 45px;
    
    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38;
        letter-spacing: 0.23px;
        color: var(--slate-grey);
    }
}

#pollsQuestions, .pollsQuestions{
    .radio_wrap{
        display: table;
        @media screen and (max-width: 768px){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        label{
            display: table-cell;
            @media screen and (max-width: 768px){
                display: block;
                flex: 1;
            }
        }
        .progress_wrap {
            width: 220px;
            display: none;
            align-items: center;
            opacity: 0;
            @media screen and (max-width: 768px){
                margin: 0 -10px;
            }
            .poll_progress{
                width: 158px;
                min-width: 158px;
              height: 10px;
              margin: 0 10px;
              border-radius: 5px;
              border: solid 1px var(--slate-grey);
              background-color: var(--white);
              position: relative;
              @media screen and (max-width: 768px){
                // margin: 0;
            }
              span{
                height: 8px;
                border-radius: 5px;
                background-color: var(--rouge-two);
                position: absolute;
                top: 0;
                left: 0;
                &.current_vote{
                    background-color: var(--ocean);
                }
              }
              
            }
            >p{
                font-size: 16px;
                font-weight: 700;
                font-style: normal;
                line-height: 1.38;
                letter-spacing: 0.23px;
                color: var(--purple-brown);
                @media screen and (max-width: 1500px){
                    font-size: 14px;
                }
              }
        }
        
    }
}

.vote_summary{
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    span{
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: 0.23px;
        color: var(--purple-brown);
        @media screen and (max-width:768px){
            font-size: 14px;
        }
    }
}
.s_ques_wrapper{
    &.vote_submitted{
        .progress_wrap{
            display: flex !important;
            opacity: 1 !important;
        }
        .vote_summary{
            display: flex;
        }
        button{
            display: none;
        }
        .radio_wrap{
            label{
                padding-left: 0;
                &:after, &:before{
                    content: none;
                }
            }
        }
    }
}

.list_row_wrapper{
    .list_card {
        padding: 20px;
    }
}


.polls_pagination{
    text-align: right;
    margin-top: 30px;
    @media screen and (max-width: 600px){
        text-align: center;
    }
    ul{
        margin: 0 -5px;
        li{
            width: 40px;
            height: 40px;
            border-radius: 12px;
            padding: 2px 3px;
            background-color: var(--white);
            border: 1px solid #e9e9e9;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 2.2;
            margin: 0 5px;
            cursor: pointer;
            a{
                font-size: 16px;
                font-weight: 700;
                color: var(--rouge);
            }
            transition: 0.3s ease-in-out all;
            &:hover{
                border: 1px solid var(--rouge);
            }
            &.current_page{
                background-color: var(--rouge);
                border: 1px solid var(--rouge);
                a{
                    color: var(--white);
                }
            }
            .page_prev{
                width: 8px;
                height: 8px;
                border-style: solid;
                border-color: #8a8a8a;
                border-width: 2px 0 0 2px;
                display: inline-block;
                transform: rotate(-45deg);
                transition: 0.3s ease-in-out all;
                &:hover{
                    border-color: var(--rouge);
                }
            }
            .page_next{
                width: 8px;
                height: 8px;
                border-style: solid;
                border-color: #8a8a8a;
                border-width: 2px 2px 0 0;
                display: inline-block;
                transform: rotate(45deg);
                transition: 0.3s ease-in-out all;
                &:hover{
                    border-color: var(--rouge);
                }
            }
        }
    }
}
.ar{
    .polls_pagination{
        ul{
            li{
                .page_next{
                    border-width: 0px 0px 2px 2px;
                }
                .page_prev{
                    border-width: 0px 2px 2px 0px;
                }
            }
        }
    }
}

ul{
    &.ps_filter {
        margin: 0 -15px;
    }
}

#p_filter_popup{
    label{
        margin-bottom: 0;
    }
    .btn_wrap{
        .outline_btn{
            width: auto !important;
            min-width: 120px !important;
        }
        .rouge_btn{
            min-width: 120px !important;
            padding: 12px 14px !important;
        }
    }
}
#sort_popup, #p_filter_popup{
    
    .modal-content{
        border-radius: 12px;
        border: 0;
        .custom_modal_heading{
            font-weight: 700;
            font-size: 20px;
            line-height: 1.09;
            color: var(--black);
            margin-bottom: 20px;
        }
        .modal-header{
            border-bottom: 0;
            padding: 1rem 2rem;
        }
        .modal-body{
            padding: 1rem 2rem;
        }
    }
}
#sort_popup{
    .modal-dialog{
        max-width: 300px;
        [type="radio"]{
            &+label{
                width: 100%;
                &:before, &::after{
                    content: none;
                    display: none;
                }
                padding-left: 0;
            }
            &:checked{
                &+label{
                    background: url(../images/ic-tick-green.png);
                    opacity: 1;
                    background-repeat: no-repeat;
                    background-position: right;
                }
            }
        }

        }
    }

    .categor_filter_wrap {
        li{
            a{
                &:after{
                    width: 15px;
                    height: 13px;
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.p_sort{
                    &:after{
                        background: url("../images/ic-sort.svg") center no-repeat;
                        background-size: contain;
                    }
                }
                &.p_filter{
                    &:after{
                        background: url("../images/ic-filter.svg") center no-repeat;
                        background-size: contain;
                    }
                    &.active{
                        &:after{
                            background: url("../images/ic-filter-active.svg") center no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
      
     }
     .s_ques_wrapper {
        .btn-primary, .btn{
            min-width: auto;
            border-radius: 13px;
            padding: 10px 36px;
        }
    }