.settings_wrapper{
display: flex;
margin: 0 -15px;
@media screen and (max-width: 768px){
    flex-direction: column;
}
}

.settings_nav{
width: 260px;
min-width: 260px;
@media screen and (max-width: 768px){
    width: auto;
    max-width: calc(100vw - 30px);
}
.owl-carousel{
    .owl-stage{
        @media screen and (min-width: 768px){
            display: flex;
            flex-direction: column;
            width: 212px !important;
        }
    }
}
#settings_carousal{
    .item{
        padding: 0;
        a{
            display: flex;
            align-items: center;
            margin: 2px;
            padding: 0.5em 0;
            width: 100%;
            figure{
                min-width: 28px;
                margin: 0 7px;
                img{
                    filter: grayscale(1);
                }
            }
            span{
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                line-height: 2;
                letter-spacing: 0.2px;
                color: var(--purple-brown);
                margin: 0 7px;
            }
            &.active{
                figure{
                    img{
                        filter: grayscale(0);
                    }
                }
                span{
                    font-weight: 700;
                    color: var(--dark-orange);
                }
            }
            &:hover{
                figure{
                    img{
                        filter: grayscale(0);
                    }
                }
                span{
                    font-weight: 600;
                    color: var(--dark-orange);
                }
            }
        }
    }
}
}

.settings_content{
flex: 1;
}
.se_card{
    padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
  background-color: var(--white);
  margin: 0 15px;
  @media screen and (max-width: 768px){
    margin: 0 15px 20px 15px;
}
}

.tab_data{
    label{
        width: 100%;
    }
}

.se_search_wrapper{
    position: relative;
    width: 100%;
        max-width: 520px;
        margin-bottom: 20px;
    input[type="text"]{
        width: 100%;
        max-width: 520px;
        padding: 11px 44px 11px 19px;
        border-radius: 12px;
        border: solid 1px #cacaca;
        background-color: var(--white);
    }
    figure{
        position: absolute;
        width: 22px;
        height: 22px;
        top: 52%;
        right: 0;
        margin: 0;
        transform: translateX(-50%);
    }
}
.se_card_inner{
    padding: 25px;
  border-radius: 12px;
  background-color: var(--white-three);
  margin-bottom: 20px;
}

.se_heading{
    display: table;
    margin: 0 -7px 20px -7px;
    figure{
        display: table-cell;
        margin: 0 7px;
        display: inherit;
    }
    h3{
        display: table-cell;
        margin: 0 7px;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.26px;
        color: var(--purple-brown);
    }
}

.se_persona{
    .se_per_row{
        display: table;
        margin: 0 -7px 10px -7px;
        @media screen and (max-width: 768px){
            display: block;
        }
        h3{
            min-width: 80px;
            display: table-cell;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.2px;
            color: var(--purple-brown);
            vertical-align: middle;
            @media screen and (max-width: 768px){
                display: block;
            }
        }
        ul{
            padding: 0;
            display: table-cell;
            vertical-align: middle;
            margin: -5px;
            li{
                display: inline-block;
                margin: 5px;
                input[type="checkbox"], input[type="radio"]{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    &:checked{
                        +label{
                            border: solid 1px var(--rouge);
                            color: var(--rouge);
                            span{
                                border: solid 5px var(--rouge);
                            }
                        }
                    }
                    &:focus{
                        +label{
                            outline: 2px solid #000000;
                        }
                    }
                }
                label{
                    display: table;
                    margin: 0;
                    border-radius: 20px;
                    border: solid 1px var(--white-six);
                    background-color: var(--white);
                    padding: 8px 15px 8px 34px !important;
                    cursor: pointer;
                    position: relative;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    line-height: 1.57;
                    letter-spacing: normal;
                    color: var(--black-two);
                    span{
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: solid 1px #dad8d8;
                        background-color: var(--white);
                        display: inherit;
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }
                    &:after, &:before{
                        content: none !important;
                    }
                }
            }
        }
    }
}
.ar{
    .se_persona{
        .se_per_row{
            ul{
                li{
                    label{
                        padding: 8px 34px 8px 15px !important;
                        span{
                            left: auto !important;
                            right: 10px !important;
                        }
                    }
                }
            }
        }
    }
}
.se_topic_selection{
    margin-bottom: 22px;
    .form-group{
        label{
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: 0.2px;
            color: var(--purple-brown);
        }
        .btn{
            &.dropdown-toggle{
                &.btn-light{
                    border-radius: 12px;
                    border: solid 1px var(--white-six);
                    background-color: var(--white);
                    padding: 12px 18px;
                    .filter-option-inner-inner{
                        font-size: 14px;
                        font-weight: 600;
                        font-style: normal;
                        line-height: 1.57;
                        letter-spacing: normal;
                        color: var(--warm-grey);
                    }
                }
            }
        }
    }
}

.se_topic_tags{
    ul{
        padding: 0;
        margin: -5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li{
            margin: 5px;
            padding: 8px 12px;
            border-radius: 22.5px;
            background-color: rgba(28, 21, 23, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: normal;
                color: var(--black-two);
            }
            span{
                cursor: pointer;
                margin: 0 5px;
                width: 20px;
                height: 25px;
                line-height: 1;
                min-width: 20px;
                padding: 4px;
                box-sizing: border-box;
                text-align: center;
                color: #636363;
            }
        }
    }
}

.tbl_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
    p{
       margin: 0;
    }
    p, a{
        width: 50%;
    }
}

.se_unsubscribe, .se_language_selection{
    padding: 25px 0;
    border-top: 1px solid #cecfd1;
    p{
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: var(--slate-grey);
    }
    .unsubscrib{
        p{
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.2px;
            color: var(--purple-brown);
        }
        .ser_type{
            flex: 1;
            max-width: 468px;
            h6{
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.2px;
                color: var(--purple-brown);
            }
            label, p{
                width: 100%;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.2px;
                color: var(--slate-grey);
            }
        }
        .edit_link{
            width: 150px;
            text-align: right;
            @media screen and (max-width: 768px){
                width: 100px;
            }
            >a{
                font-size: 13px;
                font-weight: 700;
                font-style: normal;
                line-height: 1.45;
                letter-spacing: 0.19px;
                text-align: right;
                color: var(--rouge);
                border-bottom: 1px solid var(--rouge);
            }
        }
    }
}

.ar{
    .se_unsubscribe, .se_language_selection{
        .unsubscrib{
            .edit_link{
                text-align: left;
            }
        }
    }
    .dropdown-toggle::after{
        margin-right: 0.555em;
    }
}

.se_language_selection{
    h3{
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: var(--purple-brown);
        margin-bottom: 18px;
    }
    label{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: #000000;
    }
}
// .on_off{
//     &.bootstrap-select{
//         &:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
//             width: auto;
//         }
//     }
// }
.se_button_wrap{
    .se_save{
        padding: 12px 22px;
                border-radius: 10px;
                background-color: var(--rouge);
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: var(--white);
                text-align: center;
    }
}
.on_off.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: auto;
}
.on_off.bootstrap-select .dropdown-menu li a{
    width: 100%;
}
.on_off{
    .btn-light{
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: 0.19px;
        text-align: right;
        color: var(--rouge);
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid var(--rouge);
        border-radius: 0;
        padding: 2px;
    }
}

.modal-dialog{
    &.unsubscribe_internal{
        min-width: 661px;
        @media screen and (max-width: 768px){
            min-width: 90%;
        }
       .modal-content{
        border-radius: 12px;
        border: solid 1px #d6d8da;
        background-color: var(--white);
        padding: 0 30px 40px 30px;
        @media screen and (max-width: 1400px){
            padding: 0 30px 20px 30px;
        }
       }
         h5, h3, p, .se_button_wrap{
            text-align: center;
            max-width: 466px;
            margin: 0 auto;
        }
        figure{
            text-align: center;
            max-width: 466px;
            margin: 20px auto;
        }
        h5{
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            line-height: 1.93;
            letter-spacing: normal;
            text-align: center;
            color: var(--slate-grey);
            strong{
                font-weight: 700;
                color: var(--purple-brown);
            }
        }
        h3{
            font-size: 28px;
            font-weight: 700;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: normal;
            text-align: center;
            color: var(--purple-brown);
            margin-bottom: 8px;
            @media screen and (max-width: 1400px){
                font-size: 24px;
            }
        }
        p{
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: var(--slate-grey);
            @media screen and (max-width: 1400px){
                font-size: 16px;
            }
        }
        .form-group{
            max-width: 366px;
            margin: 20px auto;
            label{
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                color: var(--purple-brown);
                margin-bottom: 5px;
            }
            .form-control{
                border-radius: 8px;
                border: solid 1px #bcbfc2;
                background-color: var(--white);
            }
            .error{
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                color: red;
            }
            .btn-light{
                border-radius: 8px;
                background-color: #fafafa;
            }
        }
        .se_button_wrap{
            margin-top: 32px;
        }
        
        .close{
            position: absolute;
            top: 10px;
            right: 20px;
            color: var(--rouge);
            opacity: 1;
        }
        &.unsubs_success{
            .modal-header{
                border: 0;
            }
        }
    }
}
.ar{
    .modal-dialog{
        &.unsubscribe_internal{
            .close{
                right: auto;
                left: 4px;
            }
        }
    }
}
#settings_carousal{
    &.owl-carousel{
        display: block !important;
    }
}
*:focus{
    outline: 1px solid #000000 !important;
}


// .header_drp_dwn{
    .option_wrapper {
        // position: absolute;
        width: 244px;
        border-radius: 12px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #e0e0e0;
        background: #fff;
        // left: 0;
        // opacity: 0;
        // visibility: hidden;
        top: 30px;
        z-index: 99;
        max-height: 400px;
        overflow-y: auto;
        li{
            cursor: pointer;
            display: block;
            font-size: 16px;
            font-weight: 600;
            border-bottom: solid 1px var(--border-color);
            a{
               font-weight: 600;
                padding: 19px;
                display: block;
                color: var(--purple-brown);
                font-weight: normal;
            }
            &:last-child{
                border-bottom: none;
            }
            &:hover a{
                color: var(--rouge);
            }
        }
    }
    
// }



.ar{
    .header_drp_dwn .option_wrapper{
        // right: 0;
        // left: auto;
    }
}

