.modal {
  background-color: rgba(0, 0, 0, 0.17);
}

#surveyFormModal .captcha_wra {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  #surveyFormModal .modal-dialog {
    min-width: 940px;
  }
}

#surveyFormModal .modal-dialog .modal-title {
  margin: 0 -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#surveyFormModal .modal-dialog .modal-title figure {
  min-width: 20px;
  margin: 0 8px;
}

#surveyFormModal .modal-dialog .modal-title h5 {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: var(--purple-brown);
}

#surveyFormModal .modal-dialog .modal-content {
  border-radius: 12px;
}

#closeConfirmation .modal-header, #closeConfirmation .modal-body, #closeConfirmation .modal-footer, #surveyFormModal .modal-header, #surveyFormModal .modal-body, #surveyFormModal .modal-footer, #surveySubmitSuccess .modal-header, #surveySubmitSuccess .modal-body, #surveySubmitSuccess .modal-footer, #surveyError .modal-header, #surveyError .modal-body, #surveyError .modal-footer, #viewAllOrganizers .modal-header, #viewAllOrganizers .modal-body, #viewAllOrganizers .modal-footer {
  padding: 1rem 1.4rem;
}

@media screen and (max-width: 768px) {
  #closeConfirmation .modal-header, #closeConfirmation .modal-body, #closeConfirmation .modal-footer, #surveyFormModal .modal-header, #surveyFormModal .modal-body, #surveyFormModal .modal-footer, #surveySubmitSuccess .modal-header, #surveySubmitSuccess .modal-body, #surveySubmitSuccess .modal-footer, #surveyError .modal-header, #surveyError .modal-body, #surveyError .modal-footer, #viewAllOrganizers .modal-header, #viewAllOrganizers .modal-body, #viewAllOrganizers .modal-footer {
    padding: 0.5rem 1em;
  }
}

#closeConfirmation .modal-header.no_border, #surveyFormModal .modal-header.no_border, #surveySubmitSuccess .modal-header.no_border, #surveyError .modal-header.no_border, #viewAllOrganizers .modal-header.no_border {
  border-bottom: 0;
}

#closeConfirmation .modal-footer, #surveyFormModal .modal-footer, #surveySubmitSuccess .modal-footer, #surveyError .modal-footer, #viewAllOrganizers .modal-footer {
  border: 0;
}

#closeConfirmation .modal-footer button, #surveyFormModal .modal-footer button, #surveySubmitSuccess .modal-footer button, #surveyError .modal-footer button, #viewAllOrganizers .modal-footer button {
  margin-bottom: 0;
}

#closeConfirmation .modal-footer.s_center, #surveyFormModal .modal-footer.s_center, #surveySubmitSuccess .modal-footer.s_center, #surveyError .modal-footer.s_center, #viewAllOrganizers .modal-footer.s_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#closeConfirmation .btn, #closeConfirmation .btn-primary, #surveyFormModal .btn, #surveyFormModal .btn-primary, #surveySubmitSuccess .btn, #surveySubmitSuccess .btn-primary, #surveyError .btn, #surveyError .btn-primary, #viewAllOrganizers .btn, #viewAllOrganizers .btn-primary {
  min-width: 120px !important;
  font-size: 15px !important;
}

#closeConfirmation .custom_modal, #surveyFormModal .custom_modal, #surveySubmitSuccess .custom_modal, #surveyError .custom_modal, #viewAllOrganizers .custom_modal {
  padding: 20px;
}

#closeConfirmation .modal-body, #surveySubmitSuccess .modal-body, #surveyError .modal-body {
  text-align: center;
}

.ar .close {
  position: absolute;
  left: 0;
}

.ar #closeConfirmation .modal-body, .ar #surveySubmitSuccess .modal-body, .ar #surveyError .modal-body {
  padding: 3.5rem;
  text-align: center;
}

.ar #closeConfirmation .modal-body p, .ar #surveySubmitSuccess .modal-body p, .ar #surveyError .modal-body p {
  text-align: center !important;
}

.organisers {
  margin: 15px 0 20px 0;
}

@media screen and (max-width: 768px) {
  .organisers {
    margin: 0 0 15px 0;
  }
}

.organisers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

@media screen and (max-width: 1440px) {
  .organisers ul {
    margin: -4px;
  }
}

.organisers ul li {
  margin: 8px;
  padding: 5px 17px;
  border-radius: 20px;
  background-color: var(--white-five);
}

@media screen and (max-width: 1440px) {
  .organisers ul li {
    margin: 4px;
    padding: 2px 12px;
  }
}

.organisers ul li a {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown-three);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .organisers ul li a {
    font-size: 13px;
    line-height: 1.5;
  }
}

.organisers ul li.active {
  background-color: var(--ocean);
}

.organisers ul li.active a {
  color: var(--white);
}

.organisers ul li:last-child {
  cursor: pointer;
}

.s_questions {
  min-height: 250px;
}

.s_questions .s_ques_wrapper h4 {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--purple-brown);
}

@media screen and (max-width: 1500px) {
  .s_questions .s_ques_wrapper h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .s_questions .s_ques_wrapper h4 {
    font-size: 14px;
    font-weight: 600;
  }
}

.s_questions .s_ques_wrapper .options .checkbox_wrap label:before {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.s_questions .s_ques_wrapper .options .radio_wrap, .s_questions .s_ques_wrapper .options .checkbox_wrap {
  padding: 30px 0;
  margin: 0 15px;
}

.s_questions .s_ques_wrapper .options .radio_wrap:last-child, .s_questions .s_ques_wrapper .options .checkbox_wrap:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 1500px) {
  .s_questions .s_ques_wrapper .options .radio_wrap, .s_questions .s_ques_wrapper .options .checkbox_wrap {
    padding: 10px 0;
  }
}

.s_questions .s_ques_wrapper .options .radio_wrap input[type="radio"]:checked + label, .s_questions .s_ques_wrapper .options .radio_wrap input[type="checkbox"]:checked + label, .s_questions .s_ques_wrapper .options .checkbox_wrap input[type="radio"]:checked + label, .s_questions .s_ques_wrapper .options .checkbox_wrap input[type="checkbox"]:checked + label {
  color: var(--purple-brown);
}

.s_questions .s_ques_wrapper .options .radio_wrap label, .s_questions .s_ques_wrapper .options .checkbox_wrap label {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.23px;
  color: var(--slate-grey);
  margin-bottom: 0;
}

@media screen and (max-width: 1500px) {
  .s_questions .s_ques_wrapper .options .radio_wrap label, .s_questions .s_ques_wrapper .options .checkbox_wrap label {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .s_questions .s_ques_wrapper .options .radio_wrap label, .s_questions .s_ques_wrapper .options .checkbox_wrap label {
    font-size: 14px;
    font-weight: 500;
  }
}

.s_questions .s_ques_wrapper .options .radio_wrap input[type="radio"]:focus + label, .s_questions .s_ques_wrapper .options .radio_wrap input[type="checkbox"]:focus + label, .s_questions .s_ques_wrapper .options .checkbox_wrap input[type="radio"]:focus + label, .s_questions .s_ques_wrapper .options .checkbox_wrap input[type="checkbox"]:focus + label {
  font-weight: 700;
  color: var(--purple-brown);
  outline: 1px solid #000000 !important;
}

@media screen and (max-width: 768px) {
  .s_questions .s_ques_wrapper .options .radio_wrap input[type="radio"]:focus + label, .s_questions .s_ques_wrapper .options .radio_wrap input[type="checkbox"]:focus + label, .s_questions .s_ques_wrapper .options .checkbox_wrap input[type="radio"]:focus + label, .s_questions .s_ques_wrapper .options .checkbox_wrap input[type="checkbox"]:focus + label {
    font-weight: 600;
  }
}

.s_questions .s_ques_wrapper .options .f_row .radio_wrap, .s_questions .s_ques_wrapper .options .f_row .checkbox_wrap {
  border-bottom: 0;
}

.s_questions .s_ques_wrapper .options .f_row.f_column .radio_wrap, .s_questions .s_ques_wrapper .options .f_row.f_column .checkbox_wrap {
  border-bottom: 1px solid #d6d8da;
}

.s_questions .s_ques_wrapper .options .f_row.f_column .radio_wrap:last-child, .s_questions .s_ques_wrapper .options .f_row.f_column .checkbox_wrap:last-child {
  border-bottom: 0;
}

.success_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #008099;
  position: relative;
  margin: 10px auto;
}

.success_icon:after {
  content: '';
  width: 24px;
  height: 12px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 15px;
  left: 12px;
}

.s_org_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  color: var(--black);
}

@media screen and (max-width: 768px) {
  .s_org_title {
    font-weight: 600;
    font-size: 16px;
  }
}

.s_close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.s_org_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.s_org_tags li {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #b51647b3;
  color: var(--white);
  margin: 3px 3px 0;
}

.category_surveys_card .list_card {
  min-height: 370px !important;
}

#surveyQuestions .item {
  display: none;
  max-height: 300px;
  min-height: 300px;
  padding: 0 2px;
  overflow-y: auto;
  overflow-x: hidden;
}

#surveyQuestions .item.active {
  display: block;
}

@media screen and (max-width: 768px) {
  #surveyQuestions .item {
    max-height: 350px;
    min-height: 350px;
  }
}

.input-group-append input[type="file"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.input-group-append input[type="file"]:focus + span {
  outline: 1px solid #000000;
}

.if_others {
  display: none;
}

.if_others.other_in {
  display: block;
}
/*# sourceMappingURL=survey-popup.css.map */