 /*-----------------About Qatar Banner-----------------------*/
 .abt_qatar_banner {
    padding: 100px 0 100px;

    @media(max-width:768px){
        padding: 20px 0 20px;
    }

    position: relative;
    .f_row{
        flex-flow: wrap-reverse;
    }
    .banner_cobined_icon {
        position: absolute;
        right: 26px;
        bottom: -10px;
    }
    .img_col {
        width: 50%;
        figure{
            width: 300px;
            margin: 0 auto; 
        }
    }
    .content_col{
        padding: 20px 50px 20px 0px;
        width: 50%;
        .inner_wrapper {
            margin: 0 auto;
            padding: 20px 0;
            .banner_card_wrapper {
                margin-top: 32px;
                display: flex;
            }
            .bn_card{
                width: 140px;
                height: 150px;
                border-radius: 20px;
                border:solid 1px #d5d6d8;
                background-color: var(--white);
                text-align: center;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                margin-right: 25px;
                margin-bottom: 10px;
                @media(max-width:640px){
                    width: 33%;
                    margin:5px;
    
                }
                figure{
                    margin-bottom: 5px;
                    font-size: 30px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    line-height: 1;
                    text-align: center;
                    color: var(--dark-orange);
                    @media(max-width:640px){
                        width: 35px;
                        height: 35px;
                        font-size: 14px;
                    }
                    img{
                        width: 100%;
                    }
                }

                .title{
                    display: block;
                    font-size: 17px;
                    font-family: "cairo_bold";
                    line-height: 1.59;
                    letter-spacing: normal;
                    text-align: center;
                    color: var(--dark-orange);
                }
                .sub_title{
                    font-size: 14px;
                    font-family: "cairo_semibold";
                    line-height: 1.57;
                    text-align: center;
                    color: var(--slate-grey);
                }
               
            }

            h1{
               
                font-size: 56px;
                font-family: "cairo_bold";
                line-height: 1.4;
                color: var(--rouge);
                
            }
            .heading-sm{
                display: block;
                font-size: 18px;
                text-transform: uppercase;
                font-family: "cairo_bold";
                line-height: 1.4;
                color: var(--rouge);
            }
             @media(max-width:1180px){
                 h1 {
                      font-size: 40px;
                  }
              }
              
              @media(max-width:640px){
                  h1 {
                        font-size: 30px;
                    }
                }
                p{
                    max-width: 447px;
                    width: 100%;    
                    font-size: 18px;
                    line-height: 1.56;
                    color: var(--slate-grey);
                }
          
        }
             

                

              
}
@media(max-width:768px){
    .content_col{
        width: 100%;
    }
    .img_col{
        width: 100%;
    }
 }
 @media(max-width:640px){
    
 }

 
}




.ar{
    .abt_qatar_banner {
        p{
            margin: 0 0 0 auto;
        }
        .content_col {
            padding: 20px 0px 20px 0px; 
            .bn_card {
                margin-right:0;
               margin-left: 5px;
            }
        }
    }
}



@media(max-width:1180px){
 
    .abt_qatar_banner .content_col {
        padding: 20px 0px 20px 0px;
    }
    .fact_figure_qatar .fact_figure_card_wrap .factfigure_card .inner_wrapper figure {
        margin-right: 15px;
    }
}



/*-----------------About Qatar Banner close-----------------------*/





/*-----------------fact_figure_qatare-----------------------*/
.fact_figure_qatar{
    padding: 150px 0 150px 0;
    background-size: cover;
    margin: 0;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    @media(max-width:768px){
        padding: 20px 0;
    }
   
    .heading{
        font-size: 28px;
        font-family: "cairo_bold";
        line-height: 1.18;
        color: var(--purple-brown);
        position: relative;
        padding-left: 30px;
        @media(max-width:768px){
            font-size: 22px;
        }
        &:before{
            position: absolute;
            content: "";
            left: 0;
            top: 7px;
            width: 20px;
            height: 18px;
            background-image: url('../images/bullet_pink.svg');
        }
    }

    .fact_figure_card_wrap{
        margin: 0;
        display: flex;
        flex-flow: wrap;
        height: 425px;
        overflow-y: hidden;
        @extend %basic_transition;
        &.active{
            height: 100%;
            max-height: 100%;
        }
        @media(max-width:800px){
            max-height: 420px;
        }

        @media(max-width: 640px){
            max-height: 397px;
        }

        .factfigure_card{
            width: 33.3%;
            margin: 50px 0;
              .inner_wrapper{
                  display: flex;
                
                  figure{
                      margin-right: 30px;
                      width: 72px;
                      height: 72px;
                      overflow: hidden;
                      img{
                          width: 100%;
                      }
                  }
                  .title{
                    font-size: 18px;
                    font-family: "cairo_bold";
                    line-height: 1.67;
                    color: var(--purple-brown);
                  }
                  .about{
                    max-width: 264px;
                    width: 100%;
                    font-size: 16px;
                    line-height: 1.5;
                    color: var(--slate-grey);
                  
                  }
              } 
             
        }
        @media(max-width:975px){
            .factfigure_card{
                width: 50%;
                margin: 20px 0;
            }
        }
        @media(max-width:640px){
            .factfigure_card{
                width: 100%;
                margin: 20px 0;
            }
        }
    }

    .show_more{
        font-size: 16px;
        font-family: "cairo_bold";
        line-height: 1.38;
        color: var(--rouge);
        position: relative;
        cursor: pointer;
        &::before{
            position: absolute;
            width: 40px;
            height: 40px;
            content: "";
            right: -55px;
            top: -3px;
            background-image: url('../images/show_more_icon.svg');
        }
    }
}



.ar{
    .fact_figure_qatar {

        .heading{
            padding-right: 30px;
            &:before{
                left: auto;
                right: 0;
            }
        }

        .fact_figure_card_wrap {
            .factfigure_card {
                .inner_wrapper {
                    figure {
                        margin-right: 0;
                        margin-left: 30px;
                    }
                    .detail {
                        text-align: right;
                    }
                }
            }
        }
    }
       
}


/*-----------------fact_figure_qatare close-----------------------*/





/*-----------------National Flag Block-----------------------*/
.national_flag_block{
    padding:  100px 0  280px;
    .flag_card_row{
        display: flex;      
        flex-flow: wrap; 
        .natinalflag_card{
            width: 25%;
            padding: 0 15px;
            @media(max-width:1024px){
                width: 50%;
                margin-bottom: 20px;
            }
            .inner_wrapper {
                width: 260px;
                margin: 0 auto;
                @media(max-width:1180px){
                    width: 100%;
                }

                .img_video_wrapper {
                    width: 100%;
                    height: 220px;
                    overflow: hidden;
                    border-radius: 10px;
                    @media(max-width:640px){
                        width: 100%;
                        height: 135px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      
                    }
                   

                    .video{
                        position: relative;
                        @media(max-width:768px){
                            height: 100%;
                            width: 100%;

                        }
                        video{
                            @media(max-width:640px){
                                width: 100%;
                                height: 135px;
                            }
                        }
                        .play{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            z-index:9;
                            width: 53px !important;
                            height: 53px !important;
                            img{
                                width: 53px !important;
                                height: 53px !important;
                            }
                        }
                    }

                }
               
                .national_title{
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    color: var(--white);
                    display: block;
                    margin: 28px 0 10px;
                }
                .description{
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: var(--white, 0.5) ;
                    @media(max-width:1180px){
                        font-size: 14px;
                    }
                }
                .read_more{
                    font-size: 16px;
                    font-family: "cairo_bold";
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: var(--white);
                    margin-top: 24px;
                    width: 79px;
                    cursor: pointer;
                    display: inline-block;
                }
            }
        }
        @media(max-width:640px){
            .natinalflag_card{
                width: 50%;
                margin: 20px 0;
                padding: 0 10px;
            }
        }

    }
}

.ar{
    .national_flag_block {
        .flag_card_row {
            .natinalflag_card {
                .inner_wrapper{
                    text-align: right;
                }
            }
        }
    }
}
/*-----------------National Flag Block Close-----------------------*/






/*-----------------Explore Life Block-----------------------*/
.explore_life_qatar{
    padding: 100px 0 50px;
      margin-top: -262px;
  .explore_life_block{
      width: 1218px;
      margin: 0 auto;
      position: relative;
      border-radius: 12px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
      background-color: var(--white);
      background-image: url('../images/explore-cut-icon.svg');
      background-repeat: no-repeat;
      background-position:top right;
      padding: 60px 0px;
      @media(max-width:1366px){
           width: 100%;
       }
      .wrap{
          display: flex;
     
        @media(max-width:1024px){
                 flex-flow: wrap;
        }
      }
      
      .col_left{
          width: 25%;
          margin: 0 40px;
          @media(max-width:1180px){
                width: 35%;
                margin: 0 20px;          
        }
        @media(max-width:1024px){
                width: 100%;
        }

        .explore_list{

        }
          .heading{
              font-size: 28px;
              font-family: "cairo_bold";
              line-height: 1.18;
              letter-spacing: normal;
              color: var(--purple-brown);
              position: relative;
              padding-left: 30px;
              @media(max-width:768px){
                  font-size: 22px;
              }
              &:before{
                  position: absolute;
                  content: "";
                  left: 0;
                  top: 7px;
                  width: 20px;
                  height: 18px;
                  background-image: url('../images/bullet_blue.svg');
              }
          }
          p{
              max-width: 358px;
              width: 100%;
              font-size: 18px;
              font-family: "cairo_semibold";
              line-height: 1.5;
              letter-spacing: normal;
              color: #111925;
              opacity: 0.7;
              margin: 20px 0;
          }

          .explore_list{
           
              ul{
                  li{
                      @media(max-width:1024px){
                          display: inline-block;
                      }
                      a{
                        border-radius: 3px;
                        background-color: var(--white-five);
                        padding: 21px;
                        font-size: 18px;
                        font-family: "cairo_bold";
                        line-height: 1.56;
                        letter-spacing: normal;
                        color: var(--deep-orange);
                        margin: 59px 0;
                        display: block;
                        cursor: pointer;
                        @media(max-width:1024px){
                          display: inline-block;
                          margin: 13px 6px 25px 0;
                          font-size: 16px;
                          padding: 14px;
                      }
                      @media(max-width:768px){
                        margin: 5px;
                    }
                    }
                  }
              }
              
          }
          
         
      }
   
      
      .col_right{
          width: 68%;
          padding: 0 10px;
          @media(max-width:1180px){   
                width: 60%;
                margin: 0 20px;
            }
        @media(max-width:1024px){
                width: 100%;
                margin: 0;
           }
    

          .card_wrapper {
              display: flex;
              flex-flow: wrap;
              margin: 20px 0 0 0;
              .img_card{
                  width: 360px;
                 height: 220px;
                  overflow: hidden;
                  margin: 16px 13px 0;  
                  cursor: pointer;
                  overflow: hidden;
                  -webkit-transition: all ease .4s;
                  -o-transition: all ease .4s;
                  transition: all ease .4s;
                  @media(max-width:1366px){
                        width: 45%;
                        margin: 10px 10px;
                        img{
                            width: 100%;
                        }
                }
                @media(max-width:640px){
                       width: 45%;
                        height: auto;
                        margin: 10px auto;    
                  }
                  figure{
                      overflow: hidden;
                      position: relative;
                      border-radius: 10px;
                      height: 100%;

                      img{
                          height: 100%;
                          object-fit: cover;
                      }
                  .title {
                      font-size: 18px;
                      font-family: "cairo_bold";
                      line-height: 1.53;
                      color: var(--white);
                      position: absolute;
                      bottom: 0px;
                      left: 0;
                      width: 100%;
                      padding: 20px;
                      margin-bottom: 0;
                      background-color:var(--purple-brown-light);
                      -webkit-transition: all ease .4s;
                      -o-transition: all ease .4s;
                      transition: all ease .4s;
                      @media(max-width:640px){
                        font-size: 14px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                      }
                  }
                //   &:hover{
                //     .title{
                //         height:  100%;
                //         align-items: center;
                //         display: flex;
                //     }
                // }
                }
              }
              
          }
      }
   

      .explore_list_horizontal{
          padding: 0 40px;
          @media(max-width:1366px){
            padding: 0 20px;
          }

          .inner_wrapper{
            padding:25px 0px;
            border-radius: 3px;
            background-color: var(--white-five);

            .owl-prev {
                width: 25px;
                height: 25px;
                top: 50%;
                left: -35px;
            }
            .owl-next {
                width: 25px;
                height: 25px;
                top: 50%;
                right: -35px;
            }

          }

          .tag_about{
            display:block;
            width: 162px;
            border-radius: 23px;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
            background-color: var(--white);
            padding: 14px;
            text-align: center;
            margin: 0 30px;
            font-size: 16px;
            font-family: "cairo_semibold";
            line-height: 1.5;
            letter-spacing: normal;
            color: var(--slate-grey);
            cursor: pointer;
            &:hover{
                background-color: var(--rouge);
                color: var(--white);
            }
            @media(max-width:1366px){
              margin: 5px 25px;
           }
           @media(max-width:1024px){
              margin: 5px 20px;
           }
            @media(max-width:640px){
              width: auto;
              font-size: 12px;
              margin: 7px 9px;
              padding:7px 14px;
            }
        }
        
      }

  }

}



.ar{
    .explore_life_qatar
        {
            .explore_life_block {
                .wrap {
                    display: flex;
                    // flex-flow: row-reverse;
                    .col_left{
                        .heading{
                            padding-left: 0px;
                            padding-right: 30px;
                            &:before{
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
       
}


/*-----------------Explore Life Block close-----------------------*/