@import'variable.scss';

/*------------------Layout contain------------------
1.Header
2.Breadcrumb
3.Footer
------------------Layout contain close------------------*/

/**************Header*********************/

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    .header_inner{
        background-color: var(--white);
        box-shadow: 0 2px 1px 0 rgba(0,0,0,0.06);
    }
    .innner_wrapper{
        margin: 0 auto;
        display: flex;      
        .nav_brand{
            display: flex;
            padding: 28px 27px;
            align-items: center;
            border-right: solid 1px var(--border-color);
            @media(max-width:1180px){
                padding: 10px 12px;
            }
        }

        .nav_col {
            flex: 1;

          .header_row {
            display: flex;       
            width: 100%;

                .abt_qtr_nav {
                    width: 50%;
                    text-align: left;
                    padding: 10px;
                    ul{
                        margin: 0;
                        li{
                            display: inline-block;
                            margin: 0 10px 0 30px;

                            a{
                                cursor: pointer;
                                font-size: 13px;
                                font-family: "cairo_semibold";
                                color: var(--purple-brown);
                            }
                        }
                    }
                }

                .auth_nav{
                    width: 50%;
                        ul{
                            margin: 0;
                            text-align: right;
                            li{
                                display: inline-block;
                                padding: 10px 20px;
                                border-left: solid 1px var(--border-color);
                                &.mob_menu_nav{
                                    display: none;
                                }
                                @media(max-width:990px){
                                    &.mob_menu_nav{
                                        display: inline-block;
                                    }        
                                }
                                a{
                                    cursor: pointer;
                                    img{
                                        display: inline-block;
                                        vertical-align: middle;
                                        &.access_icon{
                                            margin-right: 10px;
                                        }
                                        &.flag_oval_icon{
                                            margin-left: 10px;
                                            @media(max-width:650px){
                                                display: none;
                                            }
                                        }
                                    }
                                    font-size: 13px;
                                    font-family: "cairo_semibold";
                                    display: block;
                                    color: var(--purple-brown);

                                   
                                    
                                }
                            }
                        }
                }
                .header_drp_dwn{
                    position: relative;
                    padding-left: 10px;
                    .selected_option{
                        padding: 0 10px;
                        position: relative;
                        font-size: 16px;
                        font-family: "cairo_semibold";
                        line-height: 1.38;
                        letter-spacing: normal;
                        color: var(--purple-brown);
                        cursor: pointer;
                        display: flex;
                        
                        img{
                            margin-right: 10px;
                        }
                        &:after{
                            position: absolute;
                            content: "";
                            width: 22px;
                            height: 22px;
                            right: -14px;
                            background-size: contain;
                            top: 2px;
                            background-image: url('../../assets/images/arrow-down.svg');
                        }
                    }
                    .option_wrapper {
                        position: absolute;
                        width: 244px;
                         border-radius: 12px;
                        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                        border: solid 1px #e0e0e0;
                        background: #fff;
                        right: 0;
                        opacity: 0;
                        visibility: hidden;
                        top: 30px;
                        z-index: 99;
                        li{
                            cursor: pointer;
                            display: block;
                            font-size: 16px;
                            font-family: "cairo_semibold";
                            letter-spacing: normal;
                            border-bottom: solid 1px var(--border-color);
                            &:last-child{
                                border-bottom: none;
                            }
                            &:hover{
                                color: var(--rouge);
                            }
                        }
                    }
                    &:hover{
                        .selected_option{
                            color: var(--rouge);
                        }
                        .option_wrapper {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .nav_menu{
                    
                    flex: 1;
                   
                    ul{
                        margin: 0;
                        text-align: right;
                        li{
                            display: inline-block;
                            margin: 0 0 0 30px;
                            
                            a{
                                font-size: 16px;
                                font-family: "cairo_semibold";
                                color: var(--purple-brown);
                            }
                        }
                    }
                }
            }
        }
        .b-top{
            border-top: solid 1px var(--border-color);
            padding:20px 10px;
        }
    }
}


.jump_link_header{
    width: 100%;
    position: sticky;
    top: 120px;
    z-index: 99;
    .header_row {
        display: flex;   
        padding: 18px 15px;    
        width: 1400px;
        align-items: center;
        margin: 0 auto;
        border-bottom: 1px solid #cbcbcb;
    }
}


.header_drp_dwn{
    position: relative;
    padding-left: 10px;
    .selected_option{
        padding: 0 10px;
        position: relative;
        font-size: 16px;
        font-family: "cairo_semibold";
        line-height: 1.38;
        letter-spacing: normal;
        color: var(--purple-brown);
        cursor: pointer;
        display: flex;
        align-items: center;
        
        img{
            margin-right: 10px;
        }
        &:after{
            position: absolute;
            content: "";
            width: 22px;
            height: 22px;
            right: -14px;
            background-size: contain;
            top: 5px;
            background-image: url('../../images/arrow-down.svg');
        }
    }
    .option_wrapper {
        position: absolute;
        width: 244px;
        border-radius: 12px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #e0e0e0;
        background: #fff;
        right: 0;
        opacity: 0;
        visibility: hidden;
        top: 30px;
        z-index: 99;
        li{
            cursor: pointer;
            display: block;
            font-size: 16px;
            font-family: "cairo_semibold";
            border-bottom: solid 1px var(--border-color);
            a{
                padding: 19px;
                display: block;
                color: var(--purple-brown);
            }
            &:last-child{
                border-bottom: none;
            }
            &:hover a{
                color: var(--rouge);
            }
        }
    }
    &:hover{
        .selected_option{
            color: var(--rouge);
        }
        .option_wrapper {
            opacity: 1;
            visibility: visible;
        }
    }
}
.nav_menu{
                    
    flex: 1;
   
    ul{
        margin: 0;
        text-align: right;
        li{
            display: inline-block;
            margin: 0 0 0 30px;
            
            a{
                font-size: 16px;
                font-family: "cairo_semibold";
                color: var(--purple-brown);
            }
        }
    }
}
.mob_nav {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 55px;
    left: -100%;
    @extend %basic_transition;
    ul {
        li{
            a{
                display: block;
                padding: 12px;
                font-size: 16px;
                font-family: "cairo_semibold";
                border-bottom: solid 1px #e3e3e3;
                color: var(--purple-brown);
            }
        }
    }
    &.active{
        left: 0;
    }
}


.search_icon{
    margin: 0;
    cursor: pointer;
    width: 16px;
}
/************Arabic*****************/
.ar {
    header{
        .innner_wrapper {
             .nav_brand {
                border-left: solid 1px var(--border-color);
            }
         .nav_col {
            .header_row {
                .abt_qtr_nav {
                    text-align: right;
                }
              .auth_nav {
                ul {
                    text-align: left;
                    li{
                        border-left: none;
                        border-right: solid 1px var(--border-color);
                        .access_icon {
                            margin-left: 10px;
                        }
                    }
                }
              }

              .nav_menu {
                  ul{
                      text-align: left;
                      li{
                        margin: 0 30px 0 9px;
                      }
                  }
                }
                .header_drp_dwn {
                    padding-right: 10px;
                }
              }
            }
        }
    } 
    .search_icon {
        margin: 0 -13px -4px 13px;
        cursor: pointer;
    }

    .jump_link_header{
        .nav_menu {
            ul {
                margin: 0;
                text-align: left;
                li{
                    margin: 0 30px 0 0;
                }
            }
        }
    }
}
/************Arabic Close*****************/

@media(max-width:1366px){
    .jump_link_header {
        width: 90%;
        display: none;
    }
    .header_drp_dwn  .option_wrapper{
        right: -30px;
    }
    header .innner_wrapper .nav_col .header_row .nav_menu ul li a {
        font-size: 13px;
    }
    .nav_menu ul li a {
        font-size: 14px;
    }
    .header_drp_dwn .selected_option {
        font-size: 14px;
    }
}


@media(max-width:1180px){
    header .innner_wrapper .nav_col .header_row .abt_qtr_nav ul li {
        display: inline-block;
        margin: 0 10px 0 12px;
    }
    .header_drp_dwn  .option_wrapper{
        right: -50px;
    }
}


@media(max-width:990px){
   
    header .innner_wrapper .nav_col .header_row.desktop_view_head,.desktop_view_head{
       display: none;
       padding: 0;
   }
   header .innner_wrapper .nav_col .header_row .auth_nav {
    flex: 1;
}

.nav_brand img{
    width: 95px;
}
}


@media(max-width:768px){
    .mob_hide{
        display: none !important;
    }
    .innner_wrapper .nav_col .header_row .auth_nav ul li:nth-child(2){
        border-left: none;
    }
}
/*-----------------------------------------------Header-----------------------------------------------*/

/*--------------------------------------------Breadcrumb--------------------------------------------*/
.breadcrumbs_wrapper {
    width: 100%;


     ul{
        width: 1170px;
        margin: 0 auto;
        padding: 20px 0;
       @media(max-width:1200px){
           width: 95%;
       }
        li{
             position: relative;
             display: inline-block;
             padding-right: 25px;
             a{
                 font-size: 12px;
                 display: block;
                 font-family: "cairo_semibold";
                 letter-spacing: 0.5px;
                 color: var(--eggplant);
                 border-bottom: 1px solid #979797;
                 cursor: pointer;
             }
             &:before{
                 position:absolute;
                 content: "";
                 width: 18px;
                 height: 18px;
                 background-image: url('../images/breadcrumb-arrow.svg');
                 background-repeat: no-repeat;
                 background-size: contain;
                 top: 0px;
                 right: 5px;
             }
             &:last-child{
                 a{
                     color: #979797;
                     border-bottom: none;
                     cursor:default;
                 }
                
                 &::before{
                     content: "";
                     background: transparent;
                 }
             }
         }
     }
 }
/*--------------------------------------------Breadcrumb close--------------------------------------------*/

/*-----------------------------------------------Footer-----------------------------------------------*/
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--purple-brown);
    padding: 20px;
    @media(max-width:650px){
        padding: 10px;
    }
    .footer_inner{
        width: 95%;
        margin: 0 auto; 
        
        .foot_row {
            display: flex;
            align-items: center;

            .copy_right{
                font-size: 14px;
                font-family: "cairo_semibold";
                line-height: 1.67;
                letter-spacing: 0.17px;
                color: rgba(252, 252, 252, 0.50);
            }

            .foot_nav {
                flex: 1;
            }
            @media(max-width:1000px){
                flex-flow: column-reverse;
                text-align: center;

                .copy_right{
                    padding: 10px 0 0 0;
                }
            }
        }

        nav{
            ul{
                text-align: right;
                @media(max-width:1000px){
                    text-align: center;
                }
                li{
                    display: inline-block;
                    margin: 0 0 0 20px;
                    @media(max-width:1400px){
                        margin: 0 0 0 10px;
                    }
                    a{
                        cursor: pointer;
                        font-size: 13px;
                        font-family: "cairo_semibold";
                        line-height: 1.67;
                        letter-spacing: 0.17px;
                        text-align: right;
                        color: rgba(252, 252, 252, 0.60);
                        &:hover{
                           color: #fff;     
                        }
                    }
                    @media(max-width:1180px){
                        margin: 0 0 0 45px;
                    }   
                    @media(max-width:768px){
                        margin: 0 31px 0 0;
                    }
                }
            }
        }
    }

}

/************Arabic*****************/
.ar{
    footer{
      
            .foot_row {
                display: flex;
               nav {
                    ul {
                        text-align: left;
                        li {
                            display: inline-block;
                            margin: 0 20px 0 0;
                        }
                    }
               }
            }
        
    } 
}

/************Arabic close*****************/

/*-----------------------------------------------Footer Close-----------------------------------------------*/
