:root {
    --berry: #8a1538;
    --deep-orange: #e35205;
    --dark-orange: #cd4a04;
    --purple-brown: #1c1517;
    --purple-brown-light: rgba(28, 21, 23, 0.7);
    --greyish-brown: #494949;
    --greyish-brown-two: #4f4f4f;
    --greyish-brown-three: #6e6259;
    --white: #ffffff;
    --black: #000000;
    --black1: #000000;
    --pinkish-grey: #c5c5c5;
    --slate-grey: #6a6a6b;
    --white-two: #f8f7f6;
    --white-three: #f6f6f6;
    --white-five: #f1f1f1;
    --silver: #d4d9dc;
    --silver-two: #dfe0e2;
    --eggplant: #13070a;
    --rouge: #b51647;
    --rouge-two: #ba0c2f;
    --rouge-three: #a8002f;
    --white-four: #e5e5e5;
    --border-color:#e3e3e3;
    --hrruler:#d4d4d4;
    --blue: #009dbd;
    --black-two:#2a2a2a ;
    --warm-grey:#8a8a8a;
    --white-three: #f6f6f6;
    --white-six: #dedede;
    --very-light-pink: #fff0e9;
    --very-light-pink-two: #fff8f3;
    --light-pink: #fff2f6;
    --white-seven: #ececec;
    --ocean: #008099;
    --white-eight: #d2d2d2;
    --white-nine: #e6e6e6;
    --black: #2a2a2a;
    --white-ten: #030303;
    --silver-three: #e6e6e7;
    --white-eleven: #ededed;
    --white-twelve: #e2e2e2;
    --black-7: rgba(0, 0, 0, 0.07);
    --white-thirteen: #f2f2f2;
  }
  