
$rouge: #b51647;
$rouge-500: #a8002f;
$rouge-800: #8a1538;
$black: #000000;
$med-black: #2a2a2a;
$black-600: #1c1517;
$white:#ffffff;
$white-100:#fafafa;
$white-200:#f8f7f6;
$gray:#dedede;
$light-gray:#8a8a8a;
$gray-100:#f1f1f1;
$gray-200:#e1e1e1;
$gray-300:#e9e9e9;
$gray-400:#e6e6e6;
$gray-600:#e4e4e4;
$gray-500:#6a6a6b;
$dark-orange:#cd4a04;
$dark-blue:#008099;
$light-blue:#009dbd;
$greyish-brown:#494949;
$f-weight-600:600;
$f-weight-bold:bold;


// Mixins
@mixin placeholder-color ($color, $focus) {
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $color;

        &:focus {
            &::-webkit-input-placeholder {
                /* WebKit, Blink, Edge */
                color: $focus;
            }
        }
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;

        &:focus {
            &:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: $focus;
                opacity: 1;
            }
        }
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;

        &:focus {
            &::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: $focus;
                opacity: 1;
            }
        }
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;

        &:focus {
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $focus;
            }
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    direction: ltr;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}


.form-control {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.link-text {
    color: $rouge;
}

fieldset {
    legend {
        display: none;
    }
}


// hrline
.hrline {
    border-top: solid 1px #d6d6d6;
}

//Text hover effect
.hover {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: $gray-500;
        transition: all .3s ease-in-out;
    }

    &:hover {
        &::after {
            transform: scale(0);
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}


.card-wrapper {
    padding: 34px 0 50px;
    width: 100%;
    background-color: $white-200;
    height: 100%;
    display: table;
    .sub-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 20px;
        @media screen and (max-width: 1124px){
            padding: 0 40px 0 0;
        }
        @media (max-width:490px) {
            flex-direction: column;
            align-items: flex-start;
        }

        h1 {
            font-family: "cairo_bold";
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.34px;            
            color: $black-600;
            display: flex;
            align-items: center;
            margin-bottom: 0;

            .user-name {
                position: relative;
                font-family: "cairo_semibold";
                font-size: 18px;
                line-height: 1.56;
                letter-spacing: 0.26px;
                color: $black-600;
                letter-spacing: 0.26px;
                display: inline-block;
                vertical-align: middle;
                padding-left: 20px;

                &::before {
                    content: '';
                    width: 1px;
                    height: 19px;
                    border: solid 1px #979797;
                    position: absolute;
                    top: 50%;
                    bottom: 0;
                    left: 8px;
                    transform: translateY(-50%);
                }
            }
        }

        .switch_profile{
            display: flex;
            align-items: center;
            @media screen and (max-width: 660px){
                flex-direction: column;
                align-items: start;
            }
            
            @media screen and (max-width: 490px){
                margin-top: 15px;
            }

            p{
                font-family: "cairo_semibold";
                font-size: 13px;
                line-height: 1.92;
                letter-spacing: 0.19px;
                color: $black-600;
                margin-bottom: 0;
                width: 92px;
                @media screen and (max-width: 660px){
                    margin-left: 11px;
                    margin-bottom: 5px;
                }
                @media (max-width:490px) {
                    margin-left: 0;
                }
            }
            .switch_group{
                min-width: 216px;
                height: 34px;
                border-radius: 17px;
                border: solid 1px #dbdbdb;
                background-color: $white;
                display: flex;
                align-items: center;                
                position: relative;
                margin: 0 0 0 11px;
                @media (max-width:490px) {
                   margin: 0;
                }
                input[type='radio']{
                    position: absolute;
                    top: 10px;
                    left: 5px;
                    opacity: 0;
                    &:checked{
                        & + label{
                            background-color: $rouge;
                            color: $white;
                            > span{
                                display: block;
                            }
                        }
                    }
                }
                label{
                    min-width: 107px;
                    height: 34px;
                    border-radius: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-bottom: 0;
                    font-family: "cairo_semibold";
                    font-size: 14px;
                    line-height: 1.57;
                    letter-spacing: 0.2px;
                    color: $gray-500;
                    padding: 1px 10px 1px 16px;
                    // margin:0 3px 0 -1px;
                    cursor: pointer;
                    > span{
                        display: none;
                        margin-top: -2px;
                        img{
                            margin: 0 5px 0 0;
                        }
                    }
                }
                [type="radio"]:checked + label:after, [type="radio"]:checked + label:before, [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after
                {
                    display: none;
                }
                [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after{
                    display: none;
                }
            }
        }
        .dash_menu{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            right: 0;
            cursor: pointer;
            transform: translate(0, -50%);
            display: none;
            @media screen and (max-width: 1124px){
                display: block;
            }
            @media screen and (max-width: 600px){
                top: 0;
                transform: translate(0, 0);
            }
            
        }
    }

    .navtabsbar {
        .nav-tabs {
            max-width: 1138px;
            border-radius: 3px;
            background-color: $gray-500;
            border: none;
            padding-left: 2px;
            @media (max-width:481px) {
                flex-direction: column;
            }

            .nav-item {
                &:not(:last-of-type) {
                    border-right: solid 1px rgba(255, 255, 255, 0.23);
                    @media (max-width:481px) {
                        border-right:0;
                        border-bottom: solid 1px rgba(255, 255, 255, 0.23);
                    }
                }

                .nav-link {
                    font-family: "cairo_regular";
                    font-size: 13px;
                    line-height: 1.69;
                    letter-spacing: 0.46px;
                    color: $white;
                    border-radius: 0;
                    border: none;
                    padding: 18px 20px;
                    display: flex;
                    align-items: center;
                    transition: all .3s linear;
                    @media (max-width:567px) {
                        padding:12px 15px;                
                    }                   

                    .icon {
                        position: relative;
                        width: 20px;
                        margin-right: 9px;

                        .show-hide {
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            transition: all .3s linear;

                        }
                    }

                    &.active,
                    &:hover {
                        color: $dark-orange;
                        background: $white;

                        .icon {
                            img:first-child {
                                display: none;
                            }

                            .show-hide {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .tab-card {
            display: flex;
            align-items: flex-start;
            padding-top: 30px;
            @media (max-width:567px) {
                flex-wrap: wrap;                  
            }

            &.my-profile-card {
                .right-side {
                    max-width: 980px;
                    margin-left: 0;

                    .card {
                        border-bottom: none;
                        margin-bottom: 0;
                        border-radius: 0;
                    }
                }
            }

            .left-side {
                max-width: 260px;
                width: 100%;
                border-radius: 12px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
                background-color: #fff;
                padding: 26px 21px 30px;
                @media (max-width:768px) {
                    padding:15px 15px 20px;
                }
                @media (max-width:567px) {
                    max-width: 100%;  
                    margin-bottom: 20px;                
                }

                .heading {
                    border-bottom: solid 1px $gray-600;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    @media (max-width:768px) {
                        padding-bottom: 12px;
                        margin-bottom: 10px;
                    }

                    h2 {
                        font-family: "cairo_bold";
                        font-size: 14px;
                        line-height: 1.57;                        
                        letter-spacing: 0.2px;
                        color: $black-600;
                    }
                }

                .navbar {
                    padding: 0;
                    li {
                        margin-bottom: 25px;
                        @media (max-width:768px) {
                            margin-bottom: 15px;
                        }
                        a {
                            font-family: "cairo_semibold";
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: 0.2px;
                            color: $gray-500;
                            transition: all 0.3s ease-in;

                            &:hover {
                                color: $dark-orange;
                                font-family: "cairo_bold";
                            }
                        }

                        &.active {
                            a {
                                font-family: "cairo_bold";
                                color: $dark-orange;
                            }
                        }
                    }


                }
            }

            .right-side {
                max-width: 845px;
                width: 100%;
                border-radius: 12px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.13);
                background-color: $white;
                margin-left: 32px;
                padding: 34px 32px;
                @media (max-width:768px) {
                    max-width: 460px;
                    margin-left: 15px;    
                    padding:20px 15px;                
                }

                @media (max-width:567px) {
                    max-width: 100%;
                    margin-left: 0;                   
                }

                .card {
                    padding:0;
                    border: 0;
                    border-bottom: solid 1px $gray-200;
                    margin-bottom: 42px;
                    @media (max-width:768px) {
                        margin-bottom: 20px;
                    }

                    &-header {
                        border-radius: 0;
                        padding: 0;
                        border: none;
                        background: $white;

                        h3 {
                            font-family: "cairo_bold";
                            font-size: 20px;;
                            line-height: 1.2;
                            letter-spacing: 0.29px;
                            color: $black-600;
                            max-width: 100%;
                            margin-bottom: 0;
                        }
                    }

                    &-body {
                        padding: 42px 0 0;
                        @media(max-width:768px){
                            padding: 15px 0 0;
                        }

                        fieldset {
                            .col-lg-5{
                                @media(min-width:991px){
                                    padding: 0 20px;
                                }
                            }
                            
                            .form-group {
                                margin-bottom: 32px;
                                @media(max-width:768px){
                                    margin-bottom:20px;
                                }

                                label {
                                    font-family: "cairo_semibold";
                                    font-size: 13px;
                                    line-height: 0.92;
                                    letter-spacing: 0.19px;
                                    color: $black-600;
                                }

                                .form-control {
                                    border-radius: 8px;
                                    border: solid 1px #c9cacd;
                                    background-color: $white-100;
                                    padding: 10px 16px;   
                                    font-family: "cairo_semibold";
                                    font-size: 14px;
                                    line-height: 1.71;
                                    letter-spacing: 0.2px;
                                    color: $black-600;                                                    
                                    height: 46px;
                                    color: $black-600;
                                    transition: all .3s ease-in;

                                    &:focus {
                                        border-color: $dark-blue;
                                        box-shadow: none;
                                    }
                                }
                            }
                        
                        }

                        .card-expired {
                            max-width: 437px;
                            width: 100%;
                            border-radius: 25px;
                            background-color: $gray-100;
                            padding: 15px 29px;
                            margin: 10px 0 37px;
                            @media (max-width:768px) {
                                padding:12px 15px;
                                margin:10px 0 20px
                            }

                            p {
                                font-family: "cairo_semibold";
                                font-size: 13px;
                                line-height: 1.54;                                
                                color: $gray-500;
                                color: $gray-500;
                                margin-bottom: 0;
                            }

                            .renew {
                                font-family: "cairo_bold";
                                font-size: 14px;
                                line-height: 1.57;
                                letter-spacing: 0.2px;                                
                                color: $rouge;
                                margin-left: 10px;
                                display: inline-block;
                                cursor: pointer;

                                &::after {
                                    background-color: $rouge;
                                }
                            }
                        }

                        // myProfile scss                        
                        .inner-navtabs {
                            .profile-navtabs {
                                display: flex;
                                flex-wrap: wrap;
                                border-bottom: solid 1px #cec5c5;
                                margin: 0 -34px 34px;
                                padding: 0 32px;
                                @media (max-width:768px) {
                                    margin:0 -15px 20px;
                                }

                                li {
                                    a {
                                        font-family: "cairo_semibold";
                                        font-size: 14px;
                                        line-height: 24px;
                                        letter-spacing: 0.2px;
                                        color: $black-600;
                                        display: block;
                                        padding: 10px 15px;
                                        position: relative;
                                        transition: all 0.3s ease-in;

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            width: 0;
                                            height: 3px;
                                            background-color: $rouge;
                                            border-radius: 1.5px;
                                            transition: all 0.3s ease-in;
                                        }

                                        &.active,
                                        &:hover {
                                            // font-family: "cairo_bold";
                                            color: $rouge;

                                            &::after {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }

                            .my-profile {
                                @media (min-width:1280px) {
                                    .col-md-6 {
                                        padding: 0 20px;
                                    }
                                }

                                .profile-img {
                                    display: flex;
                                    align-items: center;
                                    @media (max-width:768px){
                                        margin-bottom: 25px;
                                    }

                                    .img-box {
                                        width: 66px;
                                        height: 66px;
                                        border-radius: 50%;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: contain;
                                        }
                                    }

                                    .upload-button {                                        
                                        margin-left: 20px;
                                        position: relative;
                                        cursor: pointer;
                                        
                                        label{
                                            font-family: "cairo_bold";
                                            font-size: 13px;
                                            line-height: 18px;
                                            letter-spacing: 0.19px;
                                            color: $dark-orange;
                                            cursor: pointer;
                                            &::after {
                                                background-color: $dark-orange;
                                            }
                                        }

                                        .file-upload {
                                            position: absolute;
                                            visibility: hidden;
                                            width: 100%;
                                            height: 100%;
                                        
                                        }
                                    }
                                }

                                .related-services {
                                    background-color: $gray-100;
                                    padding: 18px 15px 15px 21px;
                                    margin-top: 115px;
                                    border-radius: 12px;
                                    @media (min-width:768px){
                                        margin-top: 25px;
                                    }

                                    @media (max-width:567px){
                                        margin-top: 15px;
                                    }
                                    .title {
                                        border-bottom: solid 1px #d6d6d6;
                                        margin: 0 -15px 20px -21px;
                                        padding: 0 21px;

                                        h4 {
                                            font-family: "cairo_bold";
                                            font-size: 14px;
                                            line-height: 1.43;
                                            color: $black-600;
                                            letter-spacing: 0.2px;

                                        }
                                    }

                                    .services {
                                        ul {
                                            li {
                                                margin-bottom: 10px;

                                                a {
                                                    font-family: "cairo_semibold";
                                                    font-size: 13px;
                                                    line-height: 20px;
                                                    color: $gray-500;
                                                    letter-spacing: 0.19px;
                                                    display: inline-block;
                                                    position: relative;
                                                    transition: all 0.3s ease-in;

                                                    &::after {
                                                        content: '';
                                                        position: absolute;
                                                        bottom: 0;
                                                        left: 0;
                                                        right: 0;
                                                        width: 0%;
                                                        height: 1px;
                                                        background: $gray-500;
                                                        transition: all .3s ease-in-out;
                                                    }

                                                    &:hover {
                                                        color: $dark-orange;
                                                        font-family: "cairo_bold";

                                                        &::after {
                                                            width: 100%;
                                                            background-color: $dark-orange;
                                                        }
                                                    }
                                                }

                                                &.active {
                                                    a {
                                                        color: $dark-orange;
                                                        font-family: "cairo_bold";

                                                        &::after {
                                                            width: 100%;
                                                            background-color: $dark-orange;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }

                                .footer-btn {
                                    border-top: solid 1px $gray-200;
                                    margin: 0 -32px;
                                    padding: 18px 32px 0;
                                    @media screen {
                                        margin: 20px -15px;
                                    }
                                    .btn {
                                        min-width: 103px;
                                         border-radius: 13px;
                                         font-family: "cairo_bold";
                                        font-size: 14px;
                                        line-height: 1.57;
                                        letter-spacing: 0.2px;
                                         color: $gray-500;
                                         transition: all .3s ease-in;
                                         &.submit-btn{
                                             background: $rouge;
                                             color: $white;
                                             &:hover{
                                                 color: $white;
                                             }
                                         }
                                         &:hover{
                                             color: $dark-orange;
                                         }
                                   }
                                }

                            }
                        }
                    }
                }

                // Favorite scss
                &.favorite {
                    margin-left: 0;
                    @media(max-width:768px){
                        max-width: 100%;
                    }
                    .card-header {
                        border-bottom: solid 1px $gray-200;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        @media(max-width:567px){
                            margin-bottom: 0;
                        }
                    }

                    .card-body {
                        padding-top: 0;

                        .accordion {
                            .card-panel {
                                border-bottom: solid 1px $gray-200;
                                padding: 25px 0 4px;

                                .card-header {
                                    border-bottom: none;
                                    padding-bottom: 0;
                                    margin-bottom: 0;

                                    .sub-header {
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;
                                        flex-direction: initial;
                                        @media (max-width:1138px) {
                                            padding: 0;
                                        }

                                        h4 {
                                            font-family: "cairo_bold";
                                            font-size: 16px;
                                            line-height: 1.5;
                                            color: #6e6259;
                                            letter-spacing: 0.23px;
                                        }

                                        .toggle-icon {
                                            position: relative;
                                            width: 15px;
                                            height: 15px;
                                            margin-left: auto;
                                            cursor: pointer;

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                display: block;
                                                background: #acacac;
                                                width: 2px;
                                                margin-left: -1px;
                                                left: 50%;
                                                top: 1px;
                                                bottom: 1px;
                                                -webkit-transition: all 0.2s ease-in-out;
                                                transition: all 0.2s ease-in-out;
                                            }

                                            &::after {
                                                content: " ";
                                                position: absolute;
                                                display: block;
                                                background: #acacac;
                                                height: 2px;
                                                margin-top: -1px;
                                                top: 50%;
                                                left: 1px;
                                                right: 1px;
                                            }

                                        }

                                        &[aria-expanded="true"] {
                                            .toggle-icon {
                                                &::before {
                                                    opacity: 0;
                                                }
                                            }
                                        }
                                    }
                                }

                                .card-box-container {
                                    column-count: 3;
                                    @media (max-width:667px) {
                                        column-count: 2;                                         
                                    }
                                    @media (max-width:480px) {
                                        column-count: 1;    
                                    }

                                    .card-box {
                                        max-width: 236px;                                        
                                        border-radius: 12px;
                                        border: solid 1px $white-100;
                                        background-color: $white-100;                                        
                                        padding: 18px 24px 18px 24px;
                                        margin-bottom: 8px;
                                        display: inline-block;
                                        position: relative;
                                        transition: all .3s ease-in;
                                        cursor: pointer;
                                        @media (max-width:667px) {
                                           max-width: 100%;  
                                        }
                                        @media (max-width:480px) {
                                            display: block;    
                                        }
                                        .icon{
                                            position: absolute;
                                            top: 16px;
                                            right: 4px;
                                            cursor: pointer;
                                            width: 14px;
                                            text-align: center;
                                            // box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
                                            height: 25px;
                                            // line-height: 25px;
                                            transition: all .3s ease-in;
                                            opacity: 0;
                                            visibility: hidden;
                                        }

                                        h4 {
                                            font-family: "cairo_bold";
                                            font-size: 14px;                                            
                                            line-height: 1.57;
                                            letter-spacing: 0.2px;
                                            color: $black-600;
                                            letter-spacing: 0.2px;
                                            margin-bottom: 5px;
                                        }

                                        .link {
                                            font-family: "cairo_bold";
                                            font-size: 12px;
                                            line-height: 20px;
                                            letter-spacing: 0.17px;
                                            color: $dark-orange;
                                            display: inline-block;
                                        }

                                        &.active,
                                        &:hover{
                                            border-color:#979797;
                                            .icon{
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                        }

                                    }

                                }
                            }
                        }
                    }
                }
            }

            .card-services {
                .col-md-4 {
                    @media (min-width:767px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }

                    @media (min-width:992px) {
                        flex: 0 0 40%;
                        max-width: 40%;
                    }

                }

                @media (max-width:640px) {
                    .col-sm-6{
                        flex:0 0 100%;
                        max-width: 100%;
                    }
                }

                .card-services-navbar {
                    .title {
                        h5 {
                            font-family: "cairo_bold";
                            font-size: 14px;
                            line-height: 1.79;
                            letter-spacing: 0.2px;
                            color: $black-600;
                        }
                    }

                    ul {
                        li {
                            margin-bottom: 15px;

                            a {
                                font-family: "cairo_semibold";
                                font-size: 13px;
                                line-height: 22px;
                                letter-spacing: 0.19px;
                                color: $gray-500;
                                display: inline-block;
                                transition: all 0.3s ease-in;

                                &:hover {                                    
                                    color: $dark-orange;
                                }
                            }
                            &.active{
                                a{                                    
                                    color: $dark-orange;
                                    &::after{
                                        background: $dark-orange;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 34px;
                        @media (max-width:640px) {
                            margin: 20px 0;
                        }        
                    }

                }

            }
        }

    }
}



// arabic scss

.ar {
    direction: rtl;
    text-align: right;

    .card-wrapper {
        .sub-header {
            .user-name {
                padding-left: 0;
                padding-right: 20px;

                &::before {
                    left: auto;
                    right: 8px;
                }
            }

            .switch_profile {
                .switch_group {
                    label{
                        // margin: 0;
                        span{
                            img{
                                margin: 0 0 0 5px;
                            }
                        }
                    }
                }
            }
        }


        .navtabsbar {
            .nav-tabs {
                padding: 0 2px 0 0;

                .nav-item {
                    &:not(:last-of-type) {
                        border-right: 0;
                        border-left: solid 1px rgba(255, 255, 255, 0.23);
                        @media (max-width:481px) {
                            border-left:none;
                        }
                    }

                    .nav-link {
                        .icon {
                            margin-right: 0;
                            margin-left: 9px;
                        }
                    }
                }
            }

            .tab-card {
                .left-side {
                    .heading {
                        h2 {
                            text-align: right;
                        }
                    }
                }

                .right-side {
                    margin: 0 32px 0 0;
                    @media (max-width:567px) {
                        margin: 0;
                    }

                    .card-body {
                        .card-expired {
                            .renew {
                                margin: 0 10px 0 0;
                            }
                        }
                        .inner-navtabs {
                            .my-profile {
                                .profile-img {
                                    .upload-button{
                                        margin:0 20px 0 0;
                                    }
                                }
                            }
                        }
                    }

                    &.favorite {
                        .accordion {
                            .card-panel {
                                .card-header {
                                    .sub-header {
                                        .toggle-icon {
                                            margin-left: 0;
                                            margin-right: auto;
                                        }
                                    }
                                }
                                .card-box-container{
                                    .card-box{
                                        padding:18px 24px;
                                        .icon{
                                            left: 4px;
                                            right: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}

 // =====================================================
 .dashboard_left_nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 88px;
    padding: 122px 0 67px 0;
    background-color: $black-600;
    z-index: 99;
    transition: 0.3s ease-in-out all;
    // display: none;
    @media screen and (max-width:1280px) {
        width: 60px;
    }
    @media screen and (max-width:1124px) {
        left: -60px;
    }
    @media screen and (max-width:991px) {
        padding: 60px 0 67px 0;
    }
    nav{
        ul{
            margin-bottom: 0;
            li{
                padding: 11px 0;
                border-bottom: solid 1px rgba(255, 255, 255, 0.18);
                @media screen and (max-width:768px) {
                    padding: 2px 0;
                }
                a{
                    height: 52px;
                    display: flex;
                    align-items: center;
                    padding: 12px 30px;
                    position: relative;
                    @media screen and (max-width:1280px) {
                        padding: 12px 16px;
                    }
                    @media screen and (max-width:768px) {
                        height: 42px;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 1px;
                        transform: translate(-50%, -50%);
                        width: 2px;
                        height: 43px;
                        border-radius: 2px;
                        background-color: transparent;
                    }
                    img{
                        opacity: 0.6;
                    }
                    .nav_text{
                        opacity: 0.6;
                        font-family: 'cairo_semibold';
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: normal;
                        color: $white;
                        margin: 0 0 0 21px;
                        white-space: nowrap;
                        display: none;
                    }
                    &.active{
                        background-color: rgba(255, 255, 255, 0.15);
                        &:after{
                            background-color: $white;
                        }
                        img{
                            opacity: 1;
                        }
                        .nav_text{
                            opacity: 1;
                        }
                    }
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.15);
                        &:after{
                            background-color: $white;
                        }
                        img{
                            opacity: 1;
                        }
                        .nav_text{
                            opacity: 1;
                        }
                    }
                }
            }
            
        }
        &.dashboard_sub_nav {
            position: absolute;
            bottom: 0px;
            width: 100%;
            left: 0;
            ul{
                li{
                    &:first-child{
                        border-top: solid 1px rgba(255, 255, 255, 0.18);
                    }
                }
            }
        }
    }
    &:hover{
        width: 277px;
        nav{
            ul{
                li{
                    a{
                        .nav_text{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    }
    .ar{
        .dashboard_left_nav{
            right: 0;
            left: auto;
            @media screen and (max-width:1124px) {
                left: auto;
                right: -60px;
            }
            nav{
                ul{
                    li{
                        a{
                            .nav_text{
                                margin: 0 21px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .dash_menu_show{
        .dashboard_left_nav{
           left: 0;
        }
        &.ar{
            .dashboard_left_nav{
                    right: 0;
                    left: auto;
            }
        }
    }
    // ====================================================


    // Favorite alert box

    .alert_backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: none;
    }

    .hku_alert{
        display: none;
    .remove_favourite{
        position: fixed;
        bottom: 26px;
        left: calc((100vw - 377px) / 2);
        z-index: 1000;
        width: 377px;
        height: 86px;
        border-radius: 12px;
        padding: 16px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #e0e0e0;
        background-color: $white;
        display: flex;
        align-items: center;
        .sucess_icon{
            width: 32px;
            min-width: 32px;
        }
        .sucess_text{
            flex: 1;
            margin: 0 17px;
            p{
                font-family: 'cairo_semibold';
                font-weight: 600;
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: 0.2px;
                color: $gray-500;
                max-width: 190px;
                margin: 0;
            }
        }
        .undo_button{
            width: 76px;
            min-width: 35px;
            .link{
                font-family: 'cairo_bold';
                font-weight: 700;
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: 0.2px;
                color:$rouge;
            }
        }
        .close_hku_alert{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}