@import'reset';
@import'variable';
@import'grid.scss';
@import'mixin.scss';


/*----------------------------Font------------------------------*/
@font-face {
	font-family: "cairo_light";
	src: url("../fonts/cairo-light-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: "cairo_regular";
	src: url("../fonts/cairo-regular-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: "cairo_semibold";
	src: url("../fonts/cairo-semibold-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-semibold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: "cairo_bold";
	src: url("../fonts/cairo-bold-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }


  @font-face {
	font-family: "ge-ss-two-medium";
	src: url("../fonts/fontsge-ss-two-medium.woff2") format("woff2"),
	  url("../fonts/ge-ss-two-medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }

/*----------------------------Font Close------------------------------*/  
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color:var(--berry);
	border: 2px solid var(--berry);
}

.none, .hide{
	display: none;
}

.hide{
	display: none;
}

input::-webkit-calendar-picker-indicator {

  }
/*-------------------Base---------------*/
body {
	font-family: "cairo_regular";

  }
  

  .line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
  


  html,
  body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .app_wrapper {
    position: relative;
    padding:115px 0 72px 0;
    min-height: 100%;
    max-width: 1640px;
    width: 100%;
	margin: 0 auto;
	@media(max-width:990px){
		padding: 55px 0 120px 0;
	}
}

.custom_container{
  max-width: 1170px;
  margin: 0 auto;
  padding:0 15px;
  position: relative;
  @media(max-width:640px){
	max-width: 100% !important;
  }
}


.ar{
      .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
        overflow: hidden;
        text-align: right;
    }
}
.row_wrap{
	display: flex;
	justify-content: space-between;
}
.list_view{
	.row_wrap{
		flex-flow: column;
	}
}

.f_row{
  display: flex;
  flex-flow: wrap;
}

.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;

}

input{
	&:focus{
		border: 1px solid var(--berry);
	}
}


.ul_indent{
	text-indent: 10px;
}

/*-------------------Base close---------------*/

.select-picker-wrap {
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
		border-radius: 12px;
		border: solid 1px var(--white-six);
		background-color: var(--white);
	  }
	  .btn-light{
		background-color: transparent;
		border-color: transparent;
		padding: 9px 13px 9px 10px;
	  }
	  .dropdown-toggle::after{
		  border: none;
		  background-image: url('../images/arrow-down.svg');
		  width: 20px;
		  height: 10px;
		  background-position: center;
	  }
}

@media(max-width:1000px){
  .reverse{
    flex-wrap: wrap-reverse !important;
  }
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
     zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
/***********Radio button**************/ 

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 24px;
    font-size: 14px;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    color: var(--black-two);
}

[type="radio"]+label:before,
[type="radio"]+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
	margin: 2px 4px;
    width: 20px;
    height: 20px;
	z-index: 0;
	transition: .28s ease;
}

[type="radio"]:checked+label:before {
    border: 2px solid transparent;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after,
[type="radio"]:checked+label:before,
[type="radio"]:checked+label:after,
[type="radio"]:checked+label:before,
[type="radio"]:checked+label:after {
    border-radius: 50%;
}

[type="radio"]:checked+label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

[type="radio"]:checked+label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

[type="radio"]:checked+label:after,
[type="radio"]:checked+label:after {
    background-color: var(--rouge);
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after {
    border: solid 2px var(--white-four);
}

[type="radio"]:checked+label:after,	
[type="radio"]:checked+label:before,
[type="radio"]:checked+label:after {
    border: 2px solid var(--rouge);
}

/***********Radio button close**************/


.ar{
	[type="radio"]:not(:checked),
		[type="radio"]:checked {
			position: absolute;
			right: -9999px;
			left: auto;
			opacity: 0;
		}
}







/*************Table****************/ 
.table_wrap{
	table{
		font-family: 'cairo_semibold';
		font-size: 14px;
		line-height: 1.57;
		letter-spacing: 0.2px;
		color: var(--purple-brown);
		thead{
			border-radius: 4px;
			border: solid 1px #b5b5b5;
			background-color: var(--white);
			th{
				vertical-align: top;
				border: none;
				padding: 13px 0 13px 30px;
			}
		}
		tbody{
			td{
				width: 15%;
				font-size: 13px;
				line-height: 1.69;
				letter-spacing: 0.19px;
				color: var(--greyish-brown-three);
				border: none;
				padding: 15px 0 15px 30px;
				&:first-child{
					width: 25%;
					font-size: 14px;
					line-height: 1.57;
					letter-spacing: 0.2px;
					color: var(--purple-brown);
				}
			}
			tr{
				&:nth-of-type(odd) {
					background-color: var(--white-five);
				}
			}
			.total_count{
				font-family: 'cairo_bold';
				font-size: 16px;
				line-height: 1.38;
				letter-spacing: 0.23px;
				&:first-child{
					color: var(--purple-brown);
					font-size: 16px;
				}
			}
		}
	}
}
.ar{
	.table_wrap {
		table {
			tbody {
				td{
					&:first-child{
						width: 25%;
					}
				}
			}
		}
	}
}
/*************Table close****************/



.low, .medium, .high, .critical{
	padding-left: 32px !important;
}


.ar{
	.low, .medium, .high, .critical{
		padding-right: 32px !important;
		padding-left: 0 !important;
	}
}



.solid_bttn{
	border-radius: 22px;
    background-color: var(--rouge);
    color: var(--white);
    font-family: 'cairo_semibold';
	font-size: 16px; 
	padding: 11px 25px;
}


.outline_bttn{
	border: 1px solid var(--white-six);
    color: var(--black-two);
    border-radius: 22px;
    font-family: 'cairo_semibold';
    font-size: 16px;
    padding: 11px 25px;
    background-color: var(--white);
}