@import'reset';
@import'variable';
@import'grid.scss';
@import'mixin.scss';


/*----------------------------Font------------------------------*/
@font-face {
	font-family: "cairo_light";
	src: url("../fonts/cairo-light-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: "cairo_regular";
	src: url("../fonts/cairo-regular-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: "cairo_semibold";
	src: url("../fonts/cairo-semibold-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-semibold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: "cairo_bold";
	src: url("../fonts/cairo-bold-webfont.woff2") format("woff2"),
	  url("../fonts/cairo-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }

/*----------------------------Font Close------------------------------*/  
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color:var(--berry);
	border: 2px solid var(--berry);
}

.none{
	display: none;
}

input::-webkit-calendar-picker-indicator {
	display: none;
  }
/*-------------------Base---------------*/
body {
    font-family: "cairo_regular";
  }
  


  html,
  body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .app_wrapper {
    position: relative;
    padding:115px 0 72px 0;
    min-height: 100%;
    max-width: 1640px;
    width: 100%;
	margin: 0 auto;
	@media(max-width:990px){
		padding: 55px 0 120px 0;
	}
	@media(max-width:990px){
		padding: 55px 0 120px 0;
	}
}

.custom_container{
  max-width: 1170px;
  margin: 0 auto;
  padding:0 15px;
  position: relative;
  @media(max-width:640px){
	max-width: 100% !important;
  }
}

.f_row{
  display: flex;
  flex-flow: wrap;
}

.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;

}

input{
	&:focus{
		border: 1px solid var(--berry);
	}
}

/*-------------------Base close---------------*/








