

         <!-- Subscription Section -->
         <section class="subscription_section">
            <div class="custom_container">
               <div class="flex_row">
                  <div class="flex_col_sm_6">
                     <h2 tabindex="0">Never miss an update</h2>
                     <p class="commn-para" tabindex="0">Get all the latest updates about Qatar sent straight to your inbox. We help
                        to keep you upbeat.
                     </p>
                     <div class="txt_wrapper">
                        <label for="emailid" class="none">email</label>
                        <input type="text" id="emailid" placeholder="Enter e-mail id" />
                        <button class="detect-icon">
                           <img src="assets/images/send.png" alt="send" /> Subscribe
                        </button>
                     </div>
                     <span class="note"  tabindex="0"><strong>Please note-</strong> Even if you may like it we don’t do spamming! If
                        you wish to opt out later, you can unsubscribe later.</span>
                     <!--Owl Slider-->
                     <div id="review_owl" class="owl-carousel owl-loaded owl-drag">
                        <!-- item repeat -->
                        <div class="item">
                           <div class="reviews_wrapper" tabindex="0">
                              <figure>
                                 <img src="assets/images/sheikh.jpg" alt="reviewd-by" />
                              </figure>
                              <p>“Your newsletters are beautifully crafted and they do a great job of keeping me well
                                 informed
                                 about all the latest news & events happening in Qatar.”
                              </p>
                           </div>
                        </div>
                        <!-- item repeat close -->
                        <!-- item repeat -->
                        <div class="item">
                           <div class="reviews_wrapper" tabindex="0">
                              <figure>
                                 <img src="assets/images/sheikh.jpg" alt="reviewd-by" />
                              </figure>
                              <p>“Your newsletters are beautifully crafted and they do a great job.”</p>
                           </div>
                        </div>
                        <!-- item repeat close -->
                     </div>
                     <!--Owl Slider close-->
                  </div>
                  <div class="flex_col_sm_6">
                     <div class="sample_card">
                        <!--Owl Slider-->
                        <div id="newsletter_owl" class="owl-carousel owl-loaded owl-drag">
                           <!-- item repeat -->
                           <div class="item">
                              <div class="inner_wrap" tabindex="0">
                                 <figure class="sample_img">
                                    <img src="assets/images/blog-thumb.png" alt="newsletter-sample" />
                                 </figure>
                                 <span class="headlines">Why Qatar is the Safest Country in the World?</span>
                                  <a href="#"  tabindex="0"  class="view_all_wrap link">
                                    Checkout a sample newsletter
                                 </a>
                              </div>
                           </div>
                           <!-- item repeat close-->
                        
                          
                        </div>
                        <!--Owl Slider close-->
                     </div>
                     <!-- slider close-->
                  </div>
               </div>
            </div>
         </section>
         <!-- Subscription Section close-->

/***************************Subscription*******************************************/

.subscription_section{
    background-color: var(--white-five);
    padding: 50px 0 0px;
    margin: 0;

    @media(max-width:768px){
        background-image: none;
        background-color: #f1f1f1;
        margin: 0;
        padding: 20px 0 0;
    }
    
    ::-webkit-input-placeholder { /* Edge */
        color: var(--purple-brown);
        font-family: "cairo_semibold";

       }
       
     :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--purple-brown);
        font-family: "cairo_semibold";
       }
       
     ::placeholder {
        color: var(--purple-brown);
        font-family: "cairo_semibold";
       }
	h2{
		max-width: 371px;
		font-family: 'cairo_bold';
		font-size: 28px;
		line-height: 33.6px;
		color: var(--purple-brown);
		position: relative;
		padding-left: 30px;
		margin-bottom: 16px;
		&::before{
			width: 20px;
			height: 18px;
			content: '';
			position: absolute;
			left: 0;
			top: 6px;
			background: url(../images/bullet_blue.svg) center no-repeat;
			background-size: contain;
        }
        
        @media(max-width:640px){
            font-size: 22px;
        }
	}	
	.commn-para{
		max-width: 390px;
		font-size: 18px;
		font-family: "cairo_semibold";
		margin-bottom: 30px;
		line-height: 1.5;
		letter-spacing: normal;
        color: var(--slate-grey);
        @media(max-width:640px){
            font-size: 15px;
        }
	}
	input{
		max-width: 553px;
		@include rounded-corner(12px);
		border: solid 1px #bcbfc2;
		background-color: var(--white);
		padding: 18px 119px 18px 16px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: var(--purple-brown);
		font-size: 14px;
		width: 100%;
		&:focus{
			border:1px solid var(--berry);
        }
        @media(max-width:640px){
            padding: 18px 105px 18px 16px;
        }
    }
   
	.detect-icon {
        position: absolute;
        width: 90px;
		top: 50%;
		transform: translateY(-50%);
		right: 30px;
		background-color: transparent;
		font-family: "cairo_bold";
		font-size: 14px;
		line-height: 1.57;
		letter-spacing: 0.2px;
		color: var(--rouge);
		display: flex;
		align-items: center;
		img{
			margin-right: 5px;
        }
        @media(max-width:640px){
           right:10px;
        }
	}
	
	.txt_wrapper{
		margin-bottom: 16px;
        position: relative;
	}
	.note{
		max-width: 472px;
		font-family: 'cairo_semibold';
		font-size: 14px;
		line-height: 1.57;
		color: #111925b3;
		margin-bottom: 48px;
		display: block;
	}
	.reviews_wrapper{
		display: flex;
		position: relative;
		padding: 23px 0 24px 35px;
		figure{
			width: 64px;
			height: 64px;
			@include rounded-corner(50%);
			overflow: hidden;
			margin-right: 20px;
			z-index: 9;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		p{
			max-width: 419px;
			line-height: 1.56;
			color: #111925b3;
			@media (max-width:1200px){
				width: 70%;
			}
		}
		&::before{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 56px;
			height: 43px;
			background: url(../images/quote.png) center no-repeat;
			background-size: contain;

			@media (max-width:768px){
				top: 0px;
				left: 0;
				width: 40px;
				height: 40px;
			}
		}
	}
	.sample_card{
		max-width: 456px;
		min-height: 533px;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		background-color: var(--white);
		margin: 0 auto;
		padding: 51px 52px;
		width: 100%;
		@media (max-width:1200px){
			padding: 45px;
		}
		@media (max-width:768px){
			margin-top: 20px;
        }
        @media (max-width:768px){
			padding: 15px;
            min-height: auto;
		}
		.sample_img{
			width: 352px;
			height: 231px;
			background-color: #eaecef;
			@include rounded-corner(12px);
			overflow: hidden;
			margin-bottom: 20px;
			@media (max-width:1200px){
				width: 100%;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.headlines{
			max-width: 284px;
			font-family: 'cairo_bold';
			font-size: 18px;
			line-height: 1.44;
			color: var(--purple-brown);
			margin: 16px 0 24px;
			display: block;
		}
		.inner_wrap{
			min-height: 360px;
			padding: 10px 0;
		}
	}

	@media (max-width:850px){

		.view_all_wrap::before {
			right:-46px;
			top: 50%;
		}
	}

	@media (max-width:650px){
	.owl-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 12px;
	}
    }
    

    #review_owl {
        .owl-dots {
            position: absolute;
            bottom: 6px;
            left: 56px;
        }
    }


    

}


.ar{
	.subscription_section {
        h2{
            padding-right: 30px;
            padding-left: auto;
            &:before{
                right:0;
                left: auto;
            }
        }
		.reviews_wrapper{
			flex-flow: row-reverse;
            padding: 21px 14px 24px 0;
			figure {
				margin: 0 20px 0 24px;
			}
			&::before {	
				right: 0;
                left: auto;
                background-image: url('../images/quote-ar.png');
			}
        }
        input{
            padding: 18px 16px 18px 131px;
            @media(max-width:640px){
                padding: 18px 16px 18px 113px;
            }
        }
        .detect-icon{
            width: 100px;
            left: 30px;
            right: auto;
            @media(max-width:640px){
                left:10px;
            }
            img{
                margin-left: 6px;
            }
        }
        #review_owl {
            .owl-dots {
                position: absolute;
                bottom: 6px;
                right: 48px;
                left: auto;
            }
        }
        .sample_card{
            text-align: right;
            .headlines {
                margin: 0 0 0 auto;
            }
        }
	}
}
/***************************Subscription Close*******************************************/